2차 전지/전기차 지수

2차 전지/전기차 관련 지수로 (리튬,니켈, 코발트 가격), 리튬 체굴 + 배터리 생산 관련 etf, 글로벌/주요국 전기차 판매량이 있습니다.

1. 리튬, 니켈, 코발트 현물가

-> 현물가 구하려면 사이트의 유료 전용 구독자여야고 한다하네요.

2. 리튬 etf

In [ ]:
!pip install --upgrade --force-reinstall numpy
!pip install --upgrade --force-reinstall yfinanc 
! pip install numpy<2
!pip install numpy==1.24.4
 #아래 코드 오류가 나면 이 코드 돌려주세요..

In [7]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

ticker = 'LIT'  # 리튬 ETF

raw = yf.download(ticker, period='90d', interval='1d')
raw = raw.reset_index()[['Date', 'Close']]
raw.columns = ['날짜', 'LIT가격']

cutoff = datetime.today() - timedelta(days=60)
lit_price = raw[raw['날짜'] >= cutoff].reset_index(drop=True)
lit_price

C:\Users\mcdor\AppData\Local\Temp\ipykernel_18524\2319961730.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  raw = yf.download(ticker, period='90d', interval='1d')
[*********************100%***********************]  1 of 1 completed

           날짜      LIT가격
0  2025-05-06  37.168125
1  2025-05-07  36.630032
2  2025-05-08  37.297665
3  2025-05-09  37.536816
4  2025-05-12  38.872078
5  2025-05-13  39.051441
6  2025-05-14  39.101269
7  2025-05-15  38.603035
8  2025-05-16  38.443604
9  2025-05-19  38.064945
10 2025-05-20  38.094837
11 2025-05-21  37.736111
12 2025-05-22  37.477032
13 2025-05-23  37.387348
14 2025-05-27  37.227913
15 2025-05-28  36.779503
16 2025-05-29  36.899078
17 2025-05-30  36.032154
18 2025-06-02  35.793003
19 2025-06-03  36.171661
20 2025-06-04  37.038582
21 2025-06-05  37.028622
22 2025-06-06  37.088409
23 2025-06-09  37.447136
24 2025-06-10  37.616535
25 2025-06-11  37.835758
26 2025-06-12  37.467064
27 2025-06-13  36.799435
28 2025-06-16  36.958870
29 2025-06-17  36.490528
30 2025-06-18  36.580212
31 2025-06-20  36.111874
32 2025-06-23  36.699787
33 2025-06-24  38.084873
34 2025-06-25  37.985226
35 2025-06-26  38.612999
36 2025-06-27  38.540001
37 2025-06-30  38.400002
38 2025-07-01  38.410000
39 2025-07-02  38.990002
40 2025-07-03  39.750000

3. 글로벌/주요국 전기차 판매량

-> 월별이나 일별로 판매량을 구체적으로 주는 사이트 찾기가 힘듭니다.