변동성위험지수

CBOE 변동성 지수가 있으며 종가 기준으로 60일치 데이터입니다.

1. CBOE 변동성지수

In [2]:
! pip install numpy<2 #아래 코드 오류가 나면 이 코드 돌려주세요.

������ ������ ã�� �� �����ϴ�.

In [3]:
import yfinance as yf
import pandas as pd

# CBOE 변동성 지수(VIX) 다운로드
CBOE_raw= yf.download('^VIX', period='60d')

# 날짜를 인덱스에서 컬럼으로, 종가만 추출
CBOE = CBOE_raw[['Close']].reset_index()

# 컬럼명 한글로 변경
CBOE.columns = ['날짜', '종가']

# 결과 확인
CBOE

C:\Users\mcdor\AppData\Local\Temp\ipykernel_14608\2367264567.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  CBOE_raw= yf.download('^VIX', period='60d')
[*********************100%***********************]  1 of 1 completed

           날짜         종가
0  2025-04-14  30.889999
1  2025-04-15  30.120001
2  2025-04-16  32.639999
3  2025-04-17  29.650000
4  2025-04-21  33.820000
5  2025-04-22  30.570000
6  2025-04-23  28.450001
7  2025-04-24  26.469999
8  2025-04-25  24.840000
9  2025-04-28  25.150000
10 2025-04-29  24.170000
11 2025-04-30  24.700001
12 2025-05-01  24.600000
13 2025-05-02  22.680000
14 2025-05-05  23.639999
15 2025-05-06  24.760000
16 2025-05-07  23.549999
17 2025-05-08  22.480000
18 2025-05-09  21.900000
19 2025-05-12  18.389999
20 2025-05-13  18.219999
21 2025-05-14  18.620001
22 2025-05-15  17.830000
23 2025-05-16  17.240000
24 2025-05-19  18.139999
25 2025-05-20  18.090000
26 2025-05-21  20.870001
27 2025-05-22  20.280001
28 2025-05-23  22.290001
29 2025-05-27  18.959999
30 2025-05-28  19.309999
31 2025-05-29  19.180000
32 2025-05-30  18.570000
33 2025-06-02  18.360001
34 2025-06-03  17.690001
35 2025-06-04  17.610001
36 2025-06-05  18.480000
37 2025-06-06  16.770000
38 2025-06-09  17.160000
39 2025-06-10  16.950001
40 2025-06-11  17.260000
41 2025-06-12  18.020000
42 2025-06-13  20.820000
43 2025-06-16  19.110001
44 2025-06-17  21.600000
45 2025-06-18  20.139999
46 2025-06-20  20.620001
47 2025-06-23  19.830000
48 2025-06-24  17.480000
49 2025-06-25  16.760000
50 2025-06-26  16.590000
51 2025-06-27  16.320000
52 2025-06-30  16.730000
53 2025-07-01  16.830000
54 2025-07-02  16.639999
55 2025-07-03  16.379999
56 2025-07-04  17.290001