In [3]:
from supabase import create_client, Client
import pandas as pd
import os
supabase_url = "https://hcmniqyaqybzhmzmaumh.supabase.co"
supabase_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjbW5pcXlhcXliemhtem1hdW1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTQzOTk0OCwiZXhwIjoyMDY3MDE1OTQ4fQ.1K2yL8sWZ0-NwfBNKamhZO23HdD16PCXH_k4LZx_bss"  # service key여야 insert 가능
supabase: Client = create_client(supabase_url, supabase_key)

In [5]:
def fetch_all_data(table_name, step=1000):
    all_data = []
    start = 0

    while True:
        response = supabase.table(table_name).select("*").range(start, start + step - 1).execute()
        data = response.data
        if not data:
            break
        all_data.extend(data)
        start += step
    return all_data

# 사용 예시
korean_stocks_data = fetch_all_data("korean_stocks")

us_stocks_data = fetch_all_data("us_stocks")

korean_stocks = pd.DataFrame(korean_stocks_data)

us_stocks = pd.DataFrame(us_stocks_data)

In [9]:


# 1. datetime 변환
korean_stocks['time'] = pd.to_datetime(korean_stocks['time'])


# 2. 날짜만 추출
korean_stocks['date_only'] = korean_stocks['time'].dt.date

In [19]:
# 1. datetime 변환
us_stocks ['time'] = pd.to_datetime(korean_stocks['time'])


# 2. 날짜만 추출
us_stocks ['date_only'] = korean_stocks['time'].dt.date

In [20]:
us_stocks

,time,ticker,company_name,close_price,volume,created_at,date_only
0,2023-07-19 00:00:00+00:00,NVDA,NVIDIA,46.993999,29316796,2025-07-20T01:51:45.407696+00:00,2023-07-19
1,2023-07-19 04:00:00+00:00,NVDA,NVIDIA,47.075001,11159093,2025-07-20T01:51:45.407696+00:00,2023-07-19
2,2023-07-20 00:00:00+00:00,NVDA,NVIDIA,46.026001,33847961,2025-07-20T01:51:45.407696+00:00,2023-07-20
3,2023-07-20 04:00:00+00:00,NVDA,NVIDIA,45.516090,16780895,2025-07-20T01:51:45.407696+00:00,2023-07-20
4,2023-07-21 00:00:00+00:00,NVDA,NVIDIA,45.091499,28989696,2025-07-20T01:51:45.407696+00:00,2023-07-21
...,...,...,...,...,...,...,...
99542,NaT,DASH,DoorDash,234.488998,1074690,2025-07-20T01:51:45.407696+00:00,NaN
99543,NaT,DASH,DoorDash,234.440002,1540356,2025-07-20T01:51:45.407696+00:00,NaN
99544,NaT,DASH,DoorDash,235.009995,909502,2025-07-20T01:51:45.407696+00:00,NaN
99545,NaT,DASH,DoorDash,238.270004,2209938,2025-07-20T01:51:45.407696+00:00,NaN
99546,NaT,DASH,DoorDash,239.179993,785098,2025-07-20T01:51:45.407696+00:00,NaN

In [21]:


# 3. 결과 저장용 리스트
results = []

companies = korean_stocks['company_name'].unique()

In [22]:


# unique() 호출 전에 데이터프레임이 비어있을 경우를 대비하여 조건 추가
korean_companies = korean_stocks['company_name'].unique() if not korean_stocks.empty else []
us_companies = us_stocks['company_name'].unique() if not us_stocks.empty else []

In [23]:

for kor_company in korean_companies:
    df_kor_all = korean_stocks[korean_stocks['company_name'] == kor_company]

    # 한국 기업의 ticker 추출
    kor_ticker = df_kor_all['ticker'].iloc[0] if not df_kor_all.empty else None

    df_kor = df_kor_all[['date_only', 'close_price']]

    for us_company in us_companies:
        df_us_all = us_stocks[us_stocks['company_name'] == us_company]

        # 미국 기업의 ticker 추출
        us_ticker = df_us_all['ticker'].iloc[0] if not df_us_all.empty else None

        df_us = df_us_all[['date_only', 'close_price']]

        # 날짜 기준 병합
        merged = pd.merge(df_kor, df_us, on='date_only', how='inner', suffixes=('_kor', '_us'))

        if len(merged) < 5:
            continue

        corr = merged['close_price_kor'].corr(merged['close_price_us'])

        if pd.notna(corr):
            results.append({
                'korean_company': kor_company,
                'korean_ticker': kor_ticker,
                'us_company': us_company,
                'us_ticker': us_ticker,
                'correlation': corr
            })

# 결과 저장
corr_kor_us = pd.DataFrame(results)

In [24]:
# 2. 두 번째 데이터프레임: corr_kor_us (korean_ticker, us_ticker 추가)
# 데이터프레임이 비어있지 않은 경우에만 삽입 시도
if not corr_kor_us.empty:
    for _, row in corr_kor_us.iterrows():
        data = {
            "korean_company": row["korean_company"],
            "korean_ticker": row["korean_ticker"],  # korean_ticker 추가
            "us_company": row["us_company"],
            "us_ticker": row["us_ticker"],          # us_ticker 추가
            "correlation": None if pd.isna(row["correlation"]) else float(row["correlation"])
        }
        try:
            supabase.table("correlation_kor_us").insert(data).execute()
        except Exception as e:
            print(f"Error inserting into correlation_kor_us: {e}")

print("Correlation calculation and insertion completed.")

Correlation calculation and insertion completed.