한국 주식(korean_stocks) & 인덱스(financial_indices) 상관관계 /  한국 주식(korean_stocks) & 미국 주식(us_stocks) 상관관계

0. 수파베이스에서 데이터프레임 가져오기

In [1]:
from supabase import create_client, Client
import pandas as pd

url = "https://hcmniqyaqybzhmzmaumh.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjbW5pcXlhcXliemhtem1hdW1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTQzOTk0OCwiZXhwIjoyMDY3MDE1OTQ4fQ.1K2yL8sWZ0-NwfBNKamhZO23HdD16PCXH_k4LZx_bss"  # service key여야 insert 가능
supabase: Client = create_client(url, key)

def fetch_all_data(table_name, step=1000):
    all_data = []
    start = 0

    while True:
        response = supabase.table(table_name).select("*").range(start, start + step - 1).execute()
        data = response.data
        if not data:
            break
        all_data.extend(data)
        start += step
    return all_data

# 사용 예시
korean_stocks_data = fetch_all_data("korean_stocks")
financial_indices_data = fetch_all_data("financial_indices")
us_stocks_data = fetch_all_data("us_stocks")
import pandas as pd
korean_stocks = pd.DataFrame(korean_stocks_data)
financial_indices = pd.DataFrame(financial_indices_data)
us_stocks = pd.DataFrame(us_stocks_data)

C:\Users\mcdor\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

불러온 데이터프레임 확인

In [15]:
financial_indices.tail(1)

,id,index_en,index_ko,date,value,created_at
6062,7171,^VIX,CBOE 변동성 지수,2025-07-17T00:00:00+00:00,16.52,2025-07-17T21:11:48.333566+00:00

In [19]:
financial_indices['index_ko'].value_counts()

index_ko
달러/원 환율            527
WTI 원유 선물          509
다우존스 인터넷 지수        508
리튬 ETF             508
다우존스 산업평균지수        508
S&P 500 지수         508
나스닥 100 지수         508
미국 10년물 국채 수익률     508
CBOE 변동성 지수        508
코스닥 지수             492
코스피 지수             492
나스닥 바이오테크놀로지 지수    487
Name: count, dtype: int64

-> 지수 12개

In [16]:
korean_stocks.tail(1)

,time,ticker,company_name,close_price,volume,created_at
96139,2025-07-11T04:00:00+00:00,192080.KS,DoubleUGames,59900.0,11566,2025-07-11T07:15:33.012162+00:00

In [17]:
korean_stocks['company_name'].value_counts()

company_name
Shinhan Financial Group       999
POSCO                         999
KB Financial Group            999
KT Corporation                999
Korea Electric Power          999
                             ...
LEENO Industrial              950
Hanwha Aerospace              936
Hyundai                       668
HD Hyundai Marine Solution    572
SHIFT UP                      484
Name: count, Length: 100, dtype: int64

-> 한국 기업 100개

In [23]:
us_stocks.tail(1)

,time,ticker,company_name,close_price,volume,created_at
99534,2025-07-10T17:30:00+00:00,DASH,DoorDash,238.210007,1342329,2025-07-11T07:17:36.813488+00:00

In [22]:
us_stocks['company_name'].value_counts()

company_name
NVIDIA                       999
Union Pacific Corporation    999
Pfizer                       999
Danaher                      999
Stryker Corporation          999
                            ...
Coca-Cola                    999
Palantir                     999
AbbVie                       999
Bank of America              999
GE Vernova                   634
Name: count, Length: 100, dtype: int64

-> 미국 기업 100개

1. 한국 주식(korean_stocks) & 인덱스(financial_indices)  상관관계

In [16]:
import pandas as pd

# 1. datetime 변환
korean_stocks['time'] = pd.to_datetime(korean_stocks['time'])
financial_indices['date'] = pd.to_datetime(financial_indices['date'])

# 2. 날짜만 추출
korean_stocks['date_only'] = korean_stocks['time'].dt.date
financial_indices['date_only'] = financial_indices['date'].dt.date

# 3. 결과 저장용 리스트
results = []

companies = korean_stocks['company_name'].unique()
indices = financial_indices['index_ko'].unique()

# 4. 기업별 루프
for company in companies:
    df_company_all = korean_stocks[korean_stocks['company_name'] == company]

    # 기업 ticker 추출 (하나만 있다고 가정)
    ticker = df_company_all['ticker'].iloc[0]

    df_company = df_company_all[['date_only', 'close_price']]

    for index in indices:
        df_index = financial_indices[financial_indices['index_ko'] == index]
        df_index = df_index[['date_only', 'value']]

        # 날짜 기준 inner join
        merged = pd.merge(df_company, df_index, on='date_only', how='inner')

        if len(merged) < 5:
            continue

        corr = merged['close_price'].corr(merged['value'])

        if pd.notna(corr):
            results.append({
                'company_name': company,
                'ticker': ticker,
                'index_ko': index,
                'correlation': corr
            })

# 6. 결과 데이터프레임 생성
corr_kor_index = pd.DataFrame(results)

In [11]:
corr_kor_index.tail(12)

      company_name     ticker         index_ko  correlation
1188  DoubleUGames  192080.KS        WTI 원유 선물    -0.732599
1189  DoubleUGames  192080.KS      다우존스 인터넷 지수     0.876927
1190  DoubleUGames  192080.KS           리튬 ETF    -0.757199
1191  DoubleUGames  192080.KS  나스닥 바이오테크놀로지 지수     0.480783
1192  DoubleUGames  192080.KS          달러/원 환율     0.637557
1193  DoubleUGames  192080.KS      다우존스 산업평균지수     0.894089
1194  DoubleUGames  192080.KS       S&P 500 지수     0.906526
1195  DoubleUGames  192080.KS           코스닥 지수    -0.679631
1196  DoubleUGames  192080.KS           코스피 지수     0.337285
1197  DoubleUGames  192080.KS       나스닥 100 지수     0.899272
1198  DoubleUGames  192080.KS   미국 10년물 국채 수익률    -0.014452
1199  DoubleUGames  192080.KS      CBOE 변동성 지수     0.335466

-> 종가 기준 상관관계입니다. 만약 거래량을 기준으로 상관관계를 보고싶으면 간단하게 코드 수정 가능합니다.<br>
한국 기업 100개 x 지수 12개 -> 총 1200개의 행

2. 한국 주식(korean_stocks) & 미국 주식(us_stocks) 상관관계

In [12]:
results = []

for kor_company in korean_companies:
    df_kor_all = korean_stocks[korean_stocks['company_name'] == kor_company]

    # 한국 기업의 ticker 추출
    kor_ticker = df_kor_all['ticker'].iloc[0]

    df_kor = df_kor_all[['date_only', 'close_price']]

    for us_company in us_companies:
        df_us_all = us_stocks[us_stocks['company_name'] == us_company]

        # 미국 기업의 ticker 추출
        us_ticker = df_us_all['ticker'].iloc[0]

        df_us = df_us_all[['date_only', 'close_price']]

        # 날짜 기준 병합
        merged = pd.merge(df_kor, df_us, on='date_only', how='inner', suffixes=('_kor', '_us'))

        if len(merged) < 5:
            continue

        corr = merged['close_price_kor'].corr(merged['close_price_us'])

        if pd.notna(corr):
            results.append({
                'korean_company': kor_company,
                'korean_ticker': kor_ticker,
                'us_company': us_company,
                'us_ticker': us_ticker,
                'correlation': corr
            })

# 결과 저장
corr_kor_us = pd.DataFrame(results)

In [13]:
corr_kor_us.tail(100)

,korean_company,korean_ticker,us_company,us_ticker,correlation
9900,DoubleUGames,192080.KS,NVIDIA,NVDA,0.881185
9901,DoubleUGames,192080.KS,IBM,IBM,0.879817
9902,DoubleUGames,192080.KS,AMD,AMD,0.095319
9903,DoubleUGames,192080.KS,Microsoft,MSFT,0.770791
9904,DoubleUGames,192080.KS,RTX,RTX,0.879429
...,...,...,...,...,...
9995,DoubleUGames,192080.KS,Starbucks,SBUX,-0.133225
9996,DoubleUGames,192080.KS,Marsh & McLennan Companies,MMC,0.796110
9997,DoubleUGames,192080.KS,Intercontinental Exchange,ICE,0.904417
9998,DoubleUGames,192080.KS,American Tower,AMT,0.588738
9999,DoubleUGames,192080.KS,DoorDash,DASH,0.864589

-> 종가 기준 상관관계입니다. 만약 거래량을 기준으로 상관관계를 보고싶으면 간단하게 코드 수정 가능합니다.<br>
한국 기업 100개 x 미국 기업 100개 -> 총 10,000개의 행

3. 데이터베이스 업로드

In [ ]:
# 1. 첫 번째 데이터프레임: corr_kor_index (ticker 포함)
for _, row in corr_kor_index.iterrows():
    data = {
        "company_name": row["company_name"],
        "ticker": row["ticker"],                 # ticker 컬럼 추가
        "index_ko": row["index_ko"],
        "correlation": None if pd.isna(row["correlation"]) else float(row["correlation"])
    }
    supabase.table("correlation_kor_index").insert(data).execute()

In [ ]:
    # 2. 두 번째 데이터프레임: corr_kor_us (korean_ticker, us_ticker 추가)
    for _, row in corr_kor_us.iterrows():
        data = {
            "korean_company": row["korean_company"],
            "korean_ticker": row["korean_ticker"],  # korean_ticker 추가
            "us_company": row["us_company"],
            "us_ticker": row["us_ticker"],          # us_ticker 추가
            "correlation": None if pd.isna(row["correlation"]) else float(row["correlation"])
        }
        supabase.table("correlation_kor_us").insert(data).execute()