재무제표 데이터 수집 파일입니다.

우선 코스피 상위 100개 종목의 명칭을 크롤링한 후 각 기업의 재무제표를 가져오는 과정입니다.

1. 코스피 상위 100개 크롤링

In [164]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

data = []

# 1~2 페이지 순회
for page in [1, 2]:
    url = f"https://stock.mk.co.kr/domestic/ranking/market_cap?page={page}"
    res = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
    soup = BeautifulSoup(res.text, "html.parser")

    table = soup.select_one("table")
    rows = table.select("tr")[1:]  # 첫 행은 헤더

    for row in rows:
        cols = [td.get_text(strip=True) for td in row.find_all("td")]
        if not cols:
            continue
        data.append({
            "종목명": cols[0],
            "현재가": cols[1],
            "등락률": cols[2],
            "시가총액": cols[4]
        })

df = pd.DataFrame(data)
df.tail()

                    종목명      현재가    등락률       시가총액
95                   CJ  171,600  4,300  5,006,773
96              BNK금융지주   15,610    340  4,969,967
97                삼성E&A   25,100    250  4,919,600
98  TIGER CD금리투자KIS(합성)   56,295      0  4,790,142
99       KODEX 미국S&P500   19,765    105  4,703,082

In [165]:
kospi100 = df.iloc[:, 0].tolist()
kospi100

['삼성전자',
 'SK하이닉스',
 '삼성바이오로직스',
 'LG에너지솔루션',
 '삼성전자우',
 'KB금융',
 '현대차',
 '두산에너빌리티',
 '한화에어로스페이스',
 'NAVER',
 '기아',
 '셀트리온',
 'HD현대중공업',
 '신한지주',
 '삼성물산',
 '현대모비스',
 '삼성생명',
 '하나금융지주',
 'HMM',
 '카카오',
 'POSCO홀딩스',
 '한화오션',
 '한국전력',
 'HD한국조선해양',
 'SK스퀘어',
 '삼성화재',
 '현대로템',
 '메리츠금융지주',
 'LG화학',
 '우리금융지주',
 'HD현대일렉트릭',
 'KT&G',
 'SK이노베이션',
 '기업은행',
 '고려아연',
 '크래프톤',
 'SK',
 '삼성중공업',
 'KT',
 '삼성에스디에스',
 '삼성SDI',
 '카카오뱅크',
 'LIG넥스원',
 'LG',
 'LG전자',
 'SK텔레콤',
 '미래에셋증권',
 '삼양식품',
 '하이브',
 'HD현대',
 '현대글로비스',
 '한화시스템',
 '삼성전기',
 '포스코퓨처엠',
 '효성중공업',
 'DB손해보험',
 '두산',
 '대한항공',
 '카카오페이',
 '포스코인터내셔널',
 '유한양행',
 '한미반도체',
 'TIGER 미국S&P500',
 '한국항공우주',
 '한국금융지주',
 'KODEX CD금리액티브(합성)',
 'LS ELECTRIC',
 '한진칼',
 'HD현대마린솔루션',
 '현대건설',
 '아모레퍼시픽',
 '코웨이',
 'HD현대미포',
 'SK바이오팜',
 'LG씨엔에스',
 'NH투자증권',
 'S-Oil',
 '한화',
 'KODEX 200',
 '삼성증권',
 '에이피알',
 '삼성카드',
 'LG유플러스',
 'KODEX 머니마켓액티브',
 '한화솔루션',
 'LS',
 '키움증권',
 '한국타이어앤테크놀로지',
 '현대차2우B',
 '맥쿼리인프라',
 '두산밥캣',
 '넷마블',
 'TIGER 미국나스닥100',
 'GS',
 'LG생활건강',
 'CJ',
 'BNK금융지주',
 '삼성E&A',
 'TIGER CD금리투자KIS(합성)',
 'KODEX 미국S&P500']

2. 재무제표 크롤링

(1) 삼성전자 예시

In [166]:
#!pip install opendartreader #필요시 설치
import OpenDartReader

In [167]:
api_key ='699356c21478b2299c8a02f5ace80239bdb2f344'

In [168]:
dart=OpenDartReader(api_key)
dart

In [169]:
dart_2025=dart.finstate("삼성전자",2024)
dart_2025.columns

Index(['rcept_no', 'reprt_code', 'bsns_year', 'corp_code', 'stock_code',
       'fs_div', 'fs_nm', 'sj_div', 'sj_nm', 'account_nm', 'thstrm_nm',
       'thstrm_dt', 'thstrm_amount', 'frmtrm_nm', 'frmtrm_dt', 'frmtrm_amount',
       'bfefrmtrm_nm', 'bfefrmtrm_dt', 'bfefrmtrm_amount', 'ord', 'currency'],
      dtype='object')

In [170]:
#컬럼이 영어라 한국어로 바꿉니다
column_map = {
    'rcept_no': '접수번호',
    'reprt_code': '보고서코드',
    'bsns_year': '사업연도',
    'corp_code': '회사코드',
    'stock_code': '종목코드',
    'fs_div': '연결/별도 구분',
    'fs_nm': '재무제표명',
    'sj_div': '재무제표종류코드',
    'sj_nm': '재무제표종류',
    'account_nm': '계정명',
    'thstrm_nm': '당기명칭',
    'thstrm_dt': '당기종료일',
    'thstrm_amount': '당기금액',
    'frmtrm_nm': '전기명칭',
    'frmtrm_dt': '전기종료일',
    'frmtrm_amount': '전기금액',
    'bfefrmtrm_nm': '전전기명칭',
    'bfefrmtrm_dt': '전전기종료일',
    'bfefrmtrm_amount': '전전기금액',
    'ord': '출력순서',
    'currency': '통화단위'
}

In [171]:
dart_2025.rename(columns=column_map, inplace=True)
dart_2025.tail()

,접수번호,보고서코드,사업연도,회사코드,종목코드,연결/별도 구분,재무제표명,재무제표종류코드,재무제표종류,계정명,...,당기종료일,당기금액,전기명칭,전기종료일,전기금액,전전기명칭,전전기종료일,전전기금액,출력순서,통화단위
25,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,영업이익,...,2024.01.01 ~ 2024.12.31,"12,361,034,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"-11,526,297,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"25,319,329,000,000",26,KRW
26,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,...,2024.01.01 ~ 2024.12.31,"21,749,578,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"17,531,500,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"29,691,920,000,000",28,KRW
27,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,당기순이익,...,2024.01.01 ~ 2024.12.31,"23,582,565,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"25,397,099,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"25,418,778,000,000",30,KRW
28,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,당기순이익(손실),...,2024.01.01 ~ 2024.12.31,"23,582,565,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"25,397,099,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"25,418,778,000,000",62,KRW
29,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,총포괄손익,...,2024.01.01 ~ 2024.12.31,"23,230,095,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"25,181,020,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"26,031,896,000,000",64,KRW

-> 여기서 계정명 컬럼과 당기금액 컬럼만 필요

In [172]:
dart_2025_main =dart_2025[['계정명','당기금액']] #컬럼중 계정명과 당기금액이 중요
dart_2025_main

           계정명                 당기금액
0         유동자산  227,062,266,000,000
1        비유동자산  287,469,682,000,000
2         자산총계  514,531,948,000,000
3         유동부채   93,326,299,000,000
4        비유동부채   19,013,579,000,000
5         부채총계  112,339,878,000,000
6          자본금      897,514,000,000
7        이익잉여금  370,513,188,000,000
8         자본총계  402,192,070,000,000
9          매출액  300,870,903,000,000
10        영업이익   32,725,961,000,000
11  법인세차감전 순이익   37,529,734,000,000
12       당기순이익   34,451,351,000,000
13   당기순이익(손실)   34,451,351,000,000
14       총포괄손익   51,296,338,000,000
15        유동자산   82,320,322,000,000
16       비유동자산  242,645,805,000,000
17        자산총계  324,966,127,000,000
18        유동부채   80,157,976,000,000
19       비유동부채    8,411,494,000,000
20        부채총계   88,569,470,000,000
21         자본금      897,514,000,000
22       이익잉여금  233,734,316,000,000
23        자본총계  236,396,657,000,000
24         매출액  209,052,241,000,000
25        영업이익   12,361,034,000,000
26  법인세차감전 순이익   21,749,578,000,000
27       당기순이익   23,582,565,000,000
28   당기순이익(손실)   23,582,565,000,000
29       총포괄손익   23,230,095,000,000

(2) kospi 시총 상위 100개 리스트 재무제표 크롤링

2025 1분기

In [173]:
import pandas as pd
from tqdm import tqdm
import OpenDartReader
api_key = '699356c21478b2299c8a02f5ace80239bdb2f344'
dart = OpenDartReader(api_key)
main_df = pd.DataFrame()

for stock in tqdm(kospi100):
    try:
        df = dart.finstate(corp=stock, bsns_year=2025, reprt_code='11013')  #2025 1분기 보고서
        
        if df is None or df.empty:
            print(f"{stock} 재무제표 없음")
            continue
        
        # 연결재무제표만 필터
        df = df[df['fs_nm'] == '연결재무제표']
        
        # 'account_nm'과 당기금액('thstrm_amount')만 가져옴
        df_main = df[['account_nm', 'thstrm_amount']].copy()
        df_main.columns = ['계정명', stock]
        
        if main_df.empty:
            main_df = df_main
        else:
            main_df = pd.merge(main_df, df_main, on='계정명', how='outer')

    except Exception as e:
        print(f"{stock} 처리 중 오류: {e}")

financial_2025_q1 = main_df.drop_duplicates(subset='계정명').set_index('계정명')

financial_2025_q1

  4%|▍         | 4/100 [00:02<01:08,  1.40it/s]

삼성전자우 처리 중 오류: argument of type 'NoneType' is not iterable

  6%|▌         | 6/100 [00:03<00:47,  2.00it/s]

현대차 처리 중 오류: argument of type 'NoneType' is not iterable

 11%|█         | 11/100 [00:05<00:45,  1.95it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

기아 재무제표 없음

 12%|█▏        | 12/100 [00:06<00:45,  1.95it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

셀트리온 재무제표 없음

 15%|█▌        | 15/100 [00:07<00:44,  1.90it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

삼성물산 재무제표 없음

 20%|██        | 20/100 [00:10<00:44,  1.80it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

카카오 재무제표 없음

 22%|██▏       | 22/100 [00:11<00:42,  1.83it/s]

한국전력 처리 중 오류: argument of type 'NoneType' is not iterable

 25%|██▌       | 25/100 [00:12<00:34,  2.20it/s]

삼성화재 처리 중 오류: argument of type 'NoneType' is not iterable

 30%|███       | 30/100 [00:15<00:34,  2.02it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

우리금융지주 재무제표 없음

 31%|███       | 31/100 [00:15<00:35,  1.96it/s]

KT&G 처리 중 오류: argument of type 'NoneType' is not iterable

 37%|███▋      | 37/100 [00:18<00:34,  1.80it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

SK 재무제표 없음

 38%|███▊      | 38/100 [00:19<00:35,  1.73it/s]

KT 처리 중 오류: argument of type 'NoneType' is not iterable

 47%|████▋     | 47/100 [00:23<00:28,  1.88it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

미래에셋증권 재무제표 없음

 49%|████▉     | 49/100 [00:25<00:28,  1.79it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

하이브 재무제표 없음

 62%|██████▏   | 62/100 [00:33<00:22,  1.68it/s]

TIGER 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

 65%|██████▌   | 65/100 [00:34<00:17,  2.05it/s]

KODEX CD금리액티브(합성) 처리 중 오류: argument of type 'NoneType' is not iterable
LS ELECTRIC 처리 중 오류: argument of type 'NoneType' is not iterable

 73%|███████▎  | 73/100 [00:37<00:14,  1.90it/s]

SK바이오팜 처리 중 오류: argument of type 'NoneType' is not iterable

 78%|███████▊  | 78/100 [00:40<00:10,  2.01it/s]

KODEX 200 처리 중 오류: argument of type 'NoneType' is not iterable

 83%|████████▎ | 83/100 [00:42<00:09,  1.79it/s]

KODEX 머니마켓액티브 처리 중 오류: argument of type 'NoneType' is not iterable

 88%|████████▊ | 88/100 [00:45<00:06,  1.84it/s]

현대차2우B 처리 중 오류: argument of type 'NoneType' is not iterable

 90%|█████████ | 90/100 [00:45<00:04,  2.25it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

맥쿼리인프라 재무제표 없음

 92%|█████████▏| 92/100 [00:46<00:03,  2.02it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

넷마블 재무제표 없음
TIGER 미국나스닥100 처리 중 오류: argument of type 'NoneType' is not iterable

100%|██████████| 100/100 [00:49<00:00,  2.01it/s]

TIGER CD금리투자KIS(합성) 처리 중 오류: argument of type 'NoneType' is not iterable
KODEX 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

,삼성전자,SK하이닉스,삼성바이오로직스,LG에너지솔루션,KB금융,두산에너빌리티,한화에어로스페이스,NAVER,HD현대중공업,신한지주,...,한화솔루션,LS,키움증권,한국타이어앤테크놀로지,두산밥캣,GS,LG생활건강,CJ,BNK금융지주,삼성E&A
계정명,,,,,,,,,,,,,,,,,,,,,
기타포괄손익-공정가치측정금융자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"547,652,464,683",NaN,NaN,NaN,NaN,NaN,"9,188,176,463,309",NaN
당기손익-공정가치측정금융자산,NaN,NaN,NaN,NaN,"84,218,327,000,000",NaN,NaN,NaN,NaN,"73,491,188,000,000",...,NaN,NaN,"31,556,374,965,327",NaN,NaN,NaN,NaN,NaN,NaN,NaN
당기순이익,"8,222,878,000,000","8,108,195,000,000","375,553,550,929","226,573,000,000","1,699,122,000,000","-21,157,000,000","209,348,668,000","423,661,329,790","284,230,314,000","1,517,046,000,000",...,"-30,195,000,000","141,111,000,000","235,599,580,315","312,207,573,348","78,042,000","291,451,000,000","103,459,072,938","136,435,994,000","171,831,732,721","157,212,353,869"
당기순이익(손실),"8,222,878,000,000","8,108,195,000,000","375,553,550,929","226,573,000,000","1,699,122,000,000","-21,157,000,000","209,348,668,000","423,661,329,790","284,230,314,000","1,517,046,000,000",...,"-30,195,000,000","141,111,000,000","235,599,580,315","312,207,573,348","78,042,000","291,451,000,000","103,459,072,938","136,435,994,000","171,831,732,721","157,212,353,869"
매출액,"79,140,503,000,000","17,639,141,000,000","1,298,272,949,854","6,264,995,000,000",NaN,"3,748,574,000,000","5,484,220,608,000","2,786,783,351,907","3,822,515,741,000",NaN,...,"3,094,476,000,000","6,913,573,000,000","3,659,953,408,737","4,963,667,180,882","1,444,356,000","6,238,785,000,000","1,697,877,264,205","10,600,439,111,000",NaN,"2,097,955,167,196"
법인세차감전 순이익,"9,151,576,000,000","9,299,229,000,000","499,386,550,907","364,506,000,000","2,306,606,000,000","30,207,000,000","261,035,970,000","580,108,521,984","376,264,685,000","2,005,558,000,000",...,"-68,085,000,000","194,888,000,000","326,088,236,418","393,380,555,694","116,892,000","735,399,000,000","142,062,812,004","269,473,132,000","227,678,068,639","204,633,437,489"
보험계약부채,NaN,NaN,NaN,NaN,"59,243,225,000,000",NaN,NaN,NaN,NaN,"52,872,801,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
보험계약자산,NaN,NaN,NaN,NaN,"301,214,000,000",NaN,NaN,NaN,NaN,"2,312,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부채총계,"109,762,479,000,000","42,546,717,000,000","6,156,868,520,968","31,028,433,000,000","710,192,373,000,000","15,153,864,000,000","33,698,164,412,000","11,284,404,608,985","15,098,481,877,000","686,874,741,000,000",...,"20,042,189,000,000","14,508,413,000,000","54,730,763,471,594","12,033,741,941,034","3,689,199,000","17,122,625,000,000","1,821,819,436,913","29,788,181,556,000","142,956,574,749,037","6,042,997,589,177"
비유동부채,"19,482,767,000,000","17,710,316,000,000","2,537,774,547,278","19,163,471,000,000",NaN,"5,643,218,000,000","6,927,716,546,000","3,556,047,354,183","1,828,864,186,000",NaN,...,"7,902,495,000,000","3,277,828,000,000",NaN,"4,230,463,385,262","1,775,349,000","10,697,793,000,000","429,055,583,063","11,464,981,444,000",NaN,"245,736,383,021"
비유동자산,"293,691,031,000,000","82,757,280,000,000","12,173,748,126,449","47,171,068,000,000",NaN,"16,388,575,000,000","20,339,083,676,000","29,557,138,760,876","8,948,270,416,000",NaN,...,"19,904,245,000,000","7,751,201,000,000",NaN,"12,869,171,961,698","5,183,575,000","29,460,706,000,000","4,542,923,648,416","32,975,130,022,000",NaN,"2,141,103,659,268"
상각후원가측정금융자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"13,288,272,965,507",NaN,NaN,NaN,NaN,NaN,"8,317,517,309,485",NaN
순수수료손익,NaN,NaN,NaN,NaN,"934,048,000,000",NaN,NaN,NaN,NaN,"678,146,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"50,375,906,133",NaN
순이자손익,NaN,NaN,NaN,NaN,"3,262,165,000,000",NaN,NaN,NaN,NaN,"2,854,888,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"735,450,611,727",NaN
영업비용,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,281,482,017,970",NaN,NaN,...,NaN,NaN,"-3,334,497,896,586",NaN,NaN,NaN,NaN,NaN,NaN,NaN
영업이익,"6,685,272,000,000","7,440,504,000,000","486,688,724,699","374,673,000,000",NaN,"142,475,000,000","560,746,176,000","505,301,333,937","433,734,171,000",NaN,...,"30,314,000,000","304,505,000,000",NaN,"354,643,729,430","137,708,000","800,160,000,000","142,369,362,877","534,964,591,000",NaN,"157,303,530,634"
영업이익(손실),NaN,NaN,NaN,NaN,"2,293,028,000,000",NaN,NaN,NaN,NaN,"1,944,214,000,000",...,NaN,NaN,"325,455,512,151",NaN,NaN,NaN,NaN,NaN,"205,841,068,949",NaN
예수부채,NaN,NaN,NaN,NaN,"434,357,614,000,000",NaN,NaN,NaN,NaN,"420,023,787,000,000",...,NaN,NaN,"16,208,334,479,658",NaN,NaN,NaN,NaN,NaN,"108,443,347,818,359",NaN
유동부채,"90,279,712,000,000","24,836,401,000,000","3,619,093,973,690","11,864,962,000,000",NaN,"9,510,646,000,000","26,770,447,866,000","7,728,357,254,802","13,269,617,691,000",NaN,...,"12,139,694,000,000","11,230,585,000,000",NaN,"7,803,278,555,772","1,913,850,000","6,424,832,000,000","1,392,763,853,850","17,897,627,674,000",NaN,"5,797,261,206,156"
유동자산,"222,685,717,000,000","41,228,190,000,000","5,263,228,961,804","15,127,910,000,000",NaN,"10,508,418,000,000","23,486,790,863,000","9,756,883,369,949","11,956,275,678,000",NaN,...,"10,577,239,000,000","14,009,791,000,000",NaN,"11,285,431,038,141","3,196,330,000","6,020,829,000,000","3,019,893,545,019","13,491,311,288,000",NaN,"7,861,169,279,905"
이익잉여금,"373,062,171,000,000","72,621,873,000,000","5,462,162,171,126","1,240,583,000,000","36,156,396,000,000","1,548,618,000,000","4,672,231,266,000","26,207,229,629,984","1,387,035,781,000","40,196,034,000,000",...,"4,009,079,000,000","4,550,221,000,000","4,566,981,681,624","7,422,171,179,596","3,704,692,000","14,427,129,000,000","5,742,146,029,199","4,005,766,040,000","7,598,066,760,191","3,208,518,657,326"
이자비용,NaN,NaN,NaN,NaN,"4,192,776,000,000",NaN,NaN,NaN,NaN,"4,213,036,000,000",...,NaN,NaN,"-268,139,805,684",NaN,NaN,NaN,NaN,NaN,"-928,441,942,899",NaN
이자수익,NaN,NaN,NaN,NaN,"7,454,941,000,000",NaN,NaN,"56,722,199,643",NaN,"7,067,924,000,000",...,NaN,NaN,"449,198,523,937",NaN,NaN,NaN,NaN,NaN,"1,663,892,554,626",NaN
자본금,"897,514,000,000","3,657,652,000,000","177,935,000,000","117,000,000,000","2,090,558,000,000","3,267,327,000,000","240,405,805,000","16,481,339,500","443,865,580,000","2,969,641,000,000",...,"888,569,000,000","161,000,000,000","145,224,895,000","61,937,534,500","43,096,000","473,501,000,000","88,589,470,000","179,047,370,000","1,629,676,230,000","980,000,000,000"
자본총계,"406,614,269,000,000","81,438,753,000,000","11,280,108,567,285","31,270,545,000,000","60,134,764,000,000","11,743,129,000,000","10,127,710,127,000","28,029,617,521,840","5,806,064,217,000","59,347,586,000,000",...,"10,439,295,000,000","7,252,579,000,000","5,647,767,418,325","12,120,861,058,805","4,690,706,000","18,358,910,000,000","5,740,997,756,522","17,722,107,028,000","10,958,194,615,926","3,959,275,349,996"
자산총계,"516,376,748,000,000","123,985,470,000,000","17,436,977,088,253","62,298,978,000,000","770,327,137,000,000","26,896,993,000,000","43,825,874,539,000","39,314,022,130,825","20,904,546,094,000","746,222,327,000,000",...,"30,481,484,000,000","21,760,992,000,000","60,378,530,889,919","24,154,602,999,839","8,379,905,000","35,481,535,000,000","7,562,817,193,435","47,510,288,584,000","153,914,769,364,963","10,002,272,939,173"
차입부채,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"25,638,806,850,084",NaN,NaN,NaN,NaN,NaN,"11,834,800,825,698",NaN
총포괄손익,"9,435,916,000,000","8,115,926,000,000","375,432,505,267","398,963,000,000","791,382,000,000","115,214,000,000","293,461,651,000","1,141,127,547,493","287,151,528,000","982,387,000,000",...,"-70,497,000,000","187,795,000,000","257,476,816,043","564,981,223,884","152,495,000","260,764,000,000","135,745,332,861","106,871,233,000","117,080,395,045","192,893,563,803"
파생상품관련손익,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
파생상품부채,NaN,NaN,NaN,NaN,"10,152,203,000,000",NaN,NaN,NaN,NaN,"7,965,931,000,000",...,NaN,NaN,"791,670,666,995",NaN,NaN,NaN,NaN,NaN,"314,145,120,825",NaN
파생상품자산,NaN,NaN,NaN,NaN,"10,057,025,000,000",NaN,NaN,NaN,NaN,"8,242,221,000,000",...,NaN,NaN,"766,058,852,685",NaN,NaN,NaN,NaN,NaN,"358,126,387,988",NaN

결측치가 있는 것은 기업별로 재무제표가 다르기 때문입니다.<br>
그리고 컬럼이 100개가 아닌 것은 삼성전자, 삼성화학과 같이 같은 부류의 회사들은 시총이가장 큰 회사의 재무제표만 데이터가 나오기 때문입니다.

또한 코드를 보면 2025 1분기 보고서로 진행하였으며, 1분기 보고서를 아직 제출 안한 기업들은 데이터를 가져올 수 없습니다.

2024년

In [174]:
import pandas as pd
from tqdm import tqdm
import OpenDartReader

# API 세팅
api_key = '699356c21478b2299c8a02f5ace80239bdb2f344'
dart = OpenDartReader(api_key)

# 결과 저장용
main_df = pd.DataFrame()



for corp in tqdm(kospi100):
    try:
        df = dart.finstate(corp=corp, bsns_year=2024, reprt_code='11011')

        if df is None or df.empty:
            print(f"{corp} 재무제표 없음")
            continue

        # 연결재무제표만 사용
        df = df[df['fs_nm'] == '연결재무제표']

        # 계정명과 당기금액만
        df_main = df[['account_nm', 'thstrm_amount']].copy()
        df_main.columns = ['계정명', corp]

        # 병합
        if main_df.empty:
            main_df = df_main
        else:
            main_df = pd.merge(main_df, df_main, on='계정명', how='outer')

    except Exception as e:
        print(f"{corp} 처리 중 오류: {e}")

# 최종 정리
financial_2024 = main_df.drop_duplicates(subset='계정명').set_index('계정명')

  4%|▍         | 4/100 [00:02<01:00,  1.60it/s]

삼성전자우 처리 중 오류: argument of type 'NoneType' is not iterable

  6%|▌         | 6/100 [00:03<00:43,  2.18it/s]

현대차 처리 중 오류: argument of type 'NoneType' is not iterable

 11%|█         | 11/100 [00:05<00:42,  2.09it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

기아 재무제표 없음

 12%|█▏        | 12/100 [00:05<00:44,  1.99it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

셀트리온 재무제표 없음

 15%|█▌        | 15/100 [00:07<00:44,  1.93it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

삼성물산 재무제표 없음

 20%|██        | 20/100 [00:10<00:41,  1.91it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

카카오 재무제표 없음

 22%|██▏       | 22/100 [00:11<00:42,  1.83it/s]

한국전력 처리 중 오류: argument of type 'NoneType' is not iterable

 25%|██▌       | 25/100 [00:12<00:34,  2.20it/s]

삼성화재 처리 중 오류: argument of type 'NoneType' is not iterable

 30%|███       | 30/100 [00:14<00:32,  2.14it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

우리금융지주 재무제표 없음

 31%|███       | 31/100 [00:15<00:34,  1.98it/s]

KT&G 처리 중 오류: argument of type 'NoneType' is not iterable

 37%|███▋      | 37/100 [00:17<00:31,  1.98it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

SK 재무제표 없음

 38%|███▊      | 38/100 [00:18<00:33,  1.87it/s]

KT 처리 중 오류: argument of type 'NoneType' is not iterable

 47%|████▋     | 47/100 [00:22<00:27,  1.94it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

미래에셋증권 재무제표 없음

 49%|████▉     | 49/100 [00:23<00:26,  1.91it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

하이브 재무제표 없음

 62%|██████▏   | 62/100 [00:31<00:20,  1.81it/s]

TIGER 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

 65%|██████▌   | 65/100 [00:32<00:15,  2.24it/s]

KODEX CD금리액티브(합성) 처리 중 오류: argument of type 'NoneType' is not iterable
LS ELECTRIC 처리 중 오류: argument of type 'NoneType' is not iterable

 73%|███████▎  | 73/100 [00:35<00:12,  2.12it/s]

SK바이오팜 처리 중 오류: argument of type 'NoneType' is not iterable

 78%|███████▊  | 78/100 [00:37<00:10,  2.13it/s]

KODEX 200 처리 중 오류: argument of type 'NoneType' is not iterable

 83%|████████▎ | 83/100 [00:39<00:08,  2.00it/s]

KODEX 머니마켓액티브 처리 중 오류: argument of type 'NoneType' is not iterable

 88%|████████▊ | 88/100 [00:42<00:05,  2.09it/s]

현대차2우B 처리 중 오류: argument of type 'NoneType' is not iterable

 90%|█████████ | 90/100 [00:42<00:03,  2.58it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

맥쿼리인프라 재무제표 없음

 92%|█████████▏| 92/100 [00:43<00:03,  2.26it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

넷마블 재무제표 없음
TIGER 미국나스닥100 처리 중 오류: argument of type 'NoneType' is not iterable

100%|██████████| 100/100 [00:46<00:00,  2.15it/s]

TIGER CD금리투자KIS(합성) 처리 중 오류: argument of type 'NoneType' is not iterable
KODEX 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

In [175]:
financial_2024.head(1)

,삼성전자,SK하이닉스,삼성바이오로직스,LG에너지솔루션,KB금융,두산에너빌리티,한화에어로스페이스,NAVER,HD현대중공업,신한지주,...,한화솔루션,LS,키움증권,한국타이어앤테크놀로지,두산밥캣,GS,LG생활건강,CJ,BNK금융지주,삼성E&A
계정명,,,,,,,,,,,,,,,,,,,,,
기타포괄손익-공정가치측정금융자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"516,886,366,314",NaN,NaN,NaN,NaN,NaN,"9,062,985,920,933",NaN

2023년

In [176]:
import pandas as pd
from tqdm import tqdm
import OpenDartReader

# API 세팅
api_key = '699356c21478b2299c8a02f5ace80239bdb2f344'
dart = OpenDartReader(api_key)

# 결과 저장용
main_df = pd.DataFrame()



for corp in tqdm(kospi100):
    try:
        df = dart.finstate(corp=corp, bsns_year=2023, reprt_code='11011')

        if df is None or df.empty:
            print(f"{corp} 재무제표 없음")
            continue

        # 연결재무제표만 사용
        df = df[df['fs_nm'] == '연결재무제표']

        # 계정명과 당기금액만
        df_main = df[['account_nm', 'thstrm_amount']].copy()
        df_main.columns = ['계정명', corp]

        # 병합
        if main_df.empty:
            main_df = df_main
        else:
            main_df = pd.merge(main_df, df_main, on='계정명', how='outer')

    except Exception as e:
        print(f"{corp} 처리 중 오류: {e}")

# 최종 정리
financial_2023 = main_df.drop_duplicates(subset='계정명').set_index('계정명')

  4%|▍         | 4/100 [00:02<00:53,  1.78it/s]

삼성전자우 처리 중 오류: argument of type 'NoneType' is not iterable

  6%|▌         | 6/100 [00:02<00:39,  2.40it/s]

현대차 처리 중 오류: argument of type 'NoneType' is not iterable

 11%|█         | 11/100 [00:04<00:39,  2.25it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

기아 재무제표 없음

 12%|█▏        | 12/100 [00:05<00:40,  2.16it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

셀트리온 재무제표 없음

 15%|█▌        | 15/100 [00:07<00:44,  1.91it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

삼성물산 재무제표 없음

 20%|██        | 20/100 [00:09<00:43,  1.83it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

카카오 재무제표 없음

 22%|██▏       | 22/100 [00:10<00:41,  1.87it/s]

한국전력 처리 중 오류: argument of type 'NoneType' is not iterable

 25%|██▌       | 25/100 [00:11<00:33,  2.21it/s]

삼성화재 처리 중 오류: argument of type 'NoneType' is not iterable

 30%|███       | 30/100 [00:14<00:33,  2.09it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

우리금융지주 재무제표 없음

 31%|███       | 31/100 [00:14<00:34,  1.99it/s]

KT&G 처리 중 오류: argument of type 'NoneType' is not iterable

 37%|███▋      | 37/100 [00:17<00:30,  2.05it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

SK 재무제표 없음

 38%|███▊      | 38/100 [00:18<00:32,  1.91it/s]

KT 처리 중 오류: argument of type 'NoneType' is not iterable

 47%|████▋     | 47/100 [00:22<00:27,  1.92it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

미래에셋증권 재무제표 없음

 49%|████▉     | 49/100 [00:23<00:25,  1.97it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

하이브 재무제표 없음

 62%|██████▏   | 62/100 [00:30<00:20,  1.84it/s]

TIGER 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

 65%|██████▌   | 65/100 [00:31<00:17,  2.05it/s]

KODEX CD금리액티브(합성) 처리 중 오류: argument of type 'NoneType' is not iterable
LS ELECTRIC 처리 중 오류: argument of type 'NoneType' is not iterable

 69%|██████▉   | 69/100 [00:32<00:11,  2.60it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

HD현대마린솔루션 재무제표 없음

 73%|███████▎  | 73/100 [00:35<00:13,  1.97it/s]

SK바이오팜 처리 중 오류: argument of type 'NoneType' is not iterable

 78%|███████▊  | 78/100 [00:37<00:10,  2.01it/s]

KODEX 200 처리 중 오류: argument of type 'NoneType' is not iterable

 83%|████████▎ | 83/100 [00:39<00:08,  1.93it/s]

KODEX 머니마켓액티브 처리 중 오류: argument of type 'NoneType' is not iterable

 88%|████████▊ | 88/100 [00:42<00:05,  2.05it/s]

현대차2우B 처리 중 오류: argument of type 'NoneType' is not iterable

 90%|█████████ | 90/100 [00:42<00:03,  2.54it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

맥쿼리인프라 재무제표 없음

 92%|█████████▏| 92/100 [00:43<00:03,  2.25it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

넷마블 재무제표 없음
TIGER 미국나스닥100 처리 중 오류: argument of type 'NoneType' is not iterable

100%|██████████| 100/100 [00:46<00:00,  2.16it/s]

TIGER CD금리투자KIS(합성) 처리 중 오류: argument of type 'NoneType' is not iterable
KODEX 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

In [177]:
financial_2023.head(1)

,삼성전자,SK하이닉스,삼성바이오로직스,LG에너지솔루션,KB금융,두산에너빌리티,한화에어로스페이스,NAVER,HD현대중공업,신한지주,...,한화솔루션,LS,키움증권,한국타이어앤테크놀로지,두산밥캣,GS,LG생활건강,CJ,BNK금융지주,삼성E&A
계정명,,,,,,,,,,,,,,,,,,,,,
기타포괄손익-공정가치측정금융자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"447,454,299,861",NaN,NaN,NaN,NaN,NaN,"7,187,861,796,603",NaN

밑에 있는 데이터프레임들이 최종 데이터프레임들입니다.  <Br>
설명: 데이터프레임을 깔끔하게 보기위해 행과 열을 전치하였습니다. 이 데이터프레임들 중 골라서 최종 데이터베이스에 넣으면 될 것 같아요

1. 재무제표 지표 전체가 들어있는 데이터프레임

In [178]:
financial_2025_q1_final = financial_2025_q1.T
financial_2024_final = financial_2024.T
financial_2023_final = financial_2023.T

financial_2025_q1_final.head(1)

계정명,기타포괄손익-공정가치측정금융자산,당기손익-공정가치측정금융자산,당기순이익,당기순이익(손실),매출액,법인세차감전 순이익,보험계약부채,보험계약자산,부채총계,비유동부채,...,이자비용,이자수익,자본금,자본총계,자산총계,차입부채,총포괄손익,파생상품관련손익,파생상품부채,파생상품자산
삼성전자,NaN,NaN,"8,222,878,000,000","8,222,878,000,000","79,140,503,000,000","9,151,576,000,000",NaN,NaN,"109,762,479,000,000","19,482,767,000,000",...,NaN,NaN,"897,514,000,000","406,614,269,000,000","516,376,748,000,000",NaN,"9,435,916,000,000",NaN,NaN,NaN

In [179]:
financial_2025_q1_final.columns

Index(['기타포괄손익-공정가치측정금융자산', '당기손익-공정가치측정금융자산', '당기순이익', '당기순이익(손실)', '매출액',
       '법인세차감전 순이익', '보험계약부채', '보험계약자산', '부채총계', '비유동부채', '비유동자산',
       '상각후원가측정금융자산', '순수수료손익', '순이자손익', '영업비용', '영업이익', '영업이익(손실)', '예수부채',
       '유동부채', '유동자산', '이익잉여금', '이자비용', '이자수익', '자본금', '자본총계', '자산총계', '차입부채',
       '총포괄손익', '파생상품관련손익', '파생상품부채', '파생상품자산'],
      dtype='object', name='계정명')

2. 기업별 주요 지표만 뽑은 데이터 프레임(저는 이 데이터프레임 사용했어요)

In [180]:
main_effect =[
    '매출액',
    '당기순이익', 
    '당기순이익(손실)',
    '영업이익',
    '영업이익(손실)',
    '유동자산',
    '유동부채',
    '부채총계',
    '자산총계',
    '자본총계',
    '이자비용',
]

In [181]:
main_financial_2025_q1_final = financial_2025_q1_final[main_effect]
main_financial_2024_final = financial_2024_final[main_effect]
main_financial_2023_final = financial_2023_final[main_effect]

main_financial_2023_final.head(10)

계정명,매출액,당기순이익,당기순이익(손실),영업이익,영업이익(손실),유동자산,유동부채,부채총계,자산총계,자본총계,이자비용
삼성전자,"258,935,494,000,000","15,487,100,000,000","15,487,100,000,000","6,566,976,000,000",NaN,"195,936,557,000,000","75,719,452,000,000","92,228,115,000,000","455,905,980,000,000","363,677,865,000,000",NaN
SK하이닉스,"32,765,719,000,000","-9,137,547,000,000","-9,137,547,000,000","-7,730,313,000,000",NaN,"30,468,100,000,000","21,007,810,000,000","46,826,413,000,000","100,330,165,000,000","53,503,752,000,000",NaN
삼성바이오로직스,"3,694,588,767,068","857,691,298,384","857,691,298,384","1,113,680,009,715",NaN,"5,521,987,756,539","4,157,860,817,418","6,215,704,796,851","16,046,197,209,196","9,830,492,412,345",NaN
LG에너지솔루션,"33,745,470,000,000","1,637,985,000,000","1,637,985,000,000","2,163,234,000,000",NaN,"17,208,396,000,000","10,937,185,000,000","21,063,635,000,000","45,437,144,000,000","24,373,509,000,000",NaN
KB금융,NaN,"4,563,431,000,000","4,563,431,000,000","6,435,319,000,000",NaN,NaN,NaN,"656,864,842,000,000","715,738,152,000,000","58,873,310,000,000","17,003,362,000,000"
두산에너빌리티,"17,589,887,709,510","517,521,903,042","517,521,903,042","1,467,318,338,124",NaN,"9,641,568,243,182","9,596,749,583,047","13,799,325,009,099","24,640,833,945,624","10,841,508,936,525",NaN
한화에어로스페이스,"9,359,005,981,309","976,918,345,793","976,918,345,793","691,114,682,400",NaN,"9,192,041,562,885","12,076,597,878,814","14,858,674,607,799","19,542,899,925,708","4,684,225,317,909",NaN
NAVER,"9,670,643,576,585","985,017,762,493","985,017,762,493","1,488,820,269,608",NaN,"7,028,076,457,880","6,305,568,632,198","11,499,828,148,842","35,737,826,964,395","24,237,998,815,553",NaN
HD현대중공업,"11,963,925,991,000","24,689,214,000","24,689,214,000","178,639,965,000",NaN,"8,799,684,121,000","9,945,027,489,000","11,926,177,799,000","17,133,618,109,000","5,207,440,310,000",NaN
신한지주,NaN,"4,478,000,000,000","4,478,000,000,000",NaN,"6,100,850,000,000",NaN,NaN,"635,473,468,000,000","691,795,333,000,000","56,321,865,000,000","-16,761,289,000,000"

In [182]:
# 인덱스를 기업명 컬럼으로 만들고 이름 지정
df_2023 = main_financial_2023_final.copy().reset_index().rename(columns={'index': '계정명'})
df_2024 = main_financial_2024_final.copy().reset_index().rename(columns={'index': '계정명'})
df_2025 = main_financial_2025_q1_final.copy().reset_index().rename(columns={'index': '계정명'})

# 연도 추가
df_2023['연도'] = '2023'
df_2024['연도'] = '2024'
df_2025['연도'] = '2025_Q1'

# 모두 합치기
df_all = pd.concat([df_2023, df_2024, df_2025], ignore_index=True)
df_all.tail(1)

계정명,계정명,매출액,당기순이익,당기순이익(손실),영업이익,영업이익(손실),유동자산,유동부채,부채총계,자산총계,자본총계,이자비용,연도
220,삼성E&A,"2,097,955,167,196","157,212,353,869","157,212,353,869","157,303,530,634",NaN,"7,861,169,279,905","5,797,261,206,156","6,042,997,589,177","10,002,272,939,173","3,959,275,349,996",NaN,2025_Q1

In [183]:
df_all.rename(columns = {'계정명':'기업명'},inplace=True)
df_all.head(1)

계정명,기업명,매출액,당기순이익,당기순이익(손실),영업이익,영업이익(손실),유동자산,유동부채,부채총계,자산총계,자본총계,이자비용,연도
0,삼성전자,"258,935,494,000,000","15,487,100,000,000","15,487,100,000,000","6,566,976,000,000",NaN,"195,936,557,000,000","75,719,452,000,000","92,228,115,000,000","455,905,980,000,000","363,677,865,000,000",NaN,2023

프롬프트 만드는 작업

In [184]:
prompts = []

for corp in df_all['기업명'].unique():
    corp_df = df_all[df_all['기업명'] == corp].sort_values('연도')
    
    # 기업명은 반복되므로 프롬프트에 포함되지 않게 제거
    corp_df_display = corp_df.drop(columns=['기업명'])
    
    # 숫자 포맷 예쁘게 (선택)
    corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)

    # 텍스트로 변환
    corp_df_str = corp_df_display.to_string(index=False)

    # 프롬프트 생성
    prompt = f"""다음은 {corp}의 최근 3개년(2023~2025 1분기) 주요 재무정보입니다.

{corp_df_str}

이 데이터를 바탕으로 {corp}의 **재무 건전성**을 분석해 주세요.
또한, 투자 관점에서 주의해야 할 점이나 리스크 요인이 있다면 함께 알려주세요.

※ 단, 아래 재무정보가 없거나 일부 누락된 경우에는,
- 가능한 정보만 바탕으로 분석하고,
- 왜 정보가 부족한지 간단히 설명해 주세요.
(예: 비상장사, 소규모 법인, 자회사 등 이유)"""

    prompts.append({'기업명': corp, '프롬프트': prompt})

C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)
C:\Users\mcdor\AppData\Local\Temp\ipykernel_2032\2196042018.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  corp_df_display = corp_df_display.applymap(lambda x: f"{x:,.0f}" if isinstance(x, (int, float)) else x)

In [185]:
df_all.columns

Index(['기업명', '매출액', '당기순이익', '당기순이익(손실)', '영업이익', '영업이익(손실)', '유동자산', '유동부채',
       '부채총계', '자산총계', '자본총계', '이자비용', '연도'],
      dtype='object', name='계정명')

In [186]:
def format_number(num):
    try:
        if pd.isna(num):
            return None
        num_float = float(str(num).replace(",", "").strip())
        return round(num_float / 1e12, 1)  # 조 단위로 변환
    except:
        return None

def make_financial_summary_row_with_year(row):
    연도 = format_year(row.get('연도', '최근'))
    기업명 = row.get('기업명', '해당 기업')

    매출액 = format_number(row.get('매출액'))
    당기순이익 = format_number(row.get('당기순이익'))
    영업이익 = format_number(row.get('영업이익'))
    자산총계 = format_number(row.get('자산총계'))
    부채총계 = format_number(row.get('부채총계'))
    자본총계 = format_number(row.get('자본총계'))

    parts = []
    if 매출액 is not None:
        parts.append(f"{연도} 매출액은 약 {매출액}조 원")
    if 당기순이익 is not None:
        parts.append(f"{연도} 당기순이익은 약 {당기순이익}조 원")
    if 영업이익 is not None:
        parts.append(f"{연도} 영업이익은 약 {영업이익}조 원")
    if 자산총계 is not None:
        parts.append(f"{연도} 자산총계는 {자산총계}조 원")
    if 부채총계 is not None:
        parts.append(f"{연도} 부채총계는 {부채총계}조 원")
    if 자본총계 is not None:
        parts.append(f"{연도} 자본총계는 {자본총계}조 원")

    if not parts:
        return f"{기업명}의 {연도} 재무정보가 부족합니다."

    summary = ", ".join(parts)
    final_sentence = f"{기업명}의 최근 재무정보를 보면 {summary}입니다."

    return final_sentence

In [187]:
prompts = []

grouped = df_all.groupby('기업명')

for company, group_df in grouped:
    summary_list = [make_financial_summary_row_with_year(row) for _, row in group_df.iterrows()]
    combined_summary = "\n".join(summary_list)

    prompt = f"""
다음은 {company}의 최근 재무정보입니다:

{combined_summary}

이 정보를 바탕으로 재무 건전성을 분석하고, 투자 시 주의할 점 및 리스크 요인을 알려주세요.
""".strip()

    prompts.append({
        '기업명': company,
        'prompt': prompt
    })

df_prompts = pd.DataFrame(prompts)


df_prompts.loc[0,'prompt']

'다음은 BNK금융지주의 최근 재무정보입니다:\n\nBNK금융지주의 최근 재무정보를 보면 2023년 당기순이익은 약 0.7조 원, 2023년 자산총계는 145.8조 원, 2023년 부채총계는 135.1조 원, 2023년 자본총계는 10.7조 원입니다.\nBNK금융지주의 최근 재무정보를 보면 2024년 당기순이익은 약 0.7조 원, 2024년 자산총계는 152.5조 원, 2024년 부채총계는 141.3조 원, 2024년 자본총계는 11.1조 원입니다.\nBNK금융지주의 최근 재무정보를 보면 2025년 1분기 당기순이익은 약 0.2조 원, 2025년 1분기 자산총계는 153.9조 원, 2025년 1분기 부채총계는 143.0조 원, 2025년 1분기 자본총계는 11.0조 원입니다.\n\n이 정보를 바탕으로 재무 건전성을 분석하고, 투자 시 주의할 점 및 리스크 요인을 알려주세요.'

토큰 과대 사용을 방지하기 위해 기업 하나만 test_prompt에 할당해서 api를 돌렸습니다.(코드 실험 느낌)

In [188]:
api_key="nv-b01cb4586372450288c8fd181c66a4batcOl"

In [189]:
test_prompt = df_prompts.loc[0,'prompt']
test_prompt

'다음은 BNK금융지주의 최근 재무정보입니다:\n\nBNK금융지주의 최근 재무정보를 보면 2023년 당기순이익은 약 0.7조 원, 2023년 자산총계는 145.8조 원, 2023년 부채총계는 135.1조 원, 2023년 자본총계는 10.7조 원입니다.\nBNK금융지주의 최근 재무정보를 보면 2024년 당기순이익은 약 0.7조 원, 2024년 자산총계는 152.5조 원, 2024년 부채총계는 141.3조 원, 2024년 자본총계는 11.1조 원입니다.\nBNK금융지주의 최근 재무정보를 보면 2025년 1분기 당기순이익은 약 0.2조 원, 2025년 1분기 자산총계는 153.9조 원, 2025년 1분기 부채총계는 143.0조 원, 2025년 1분기 자본총계는 11.0조 원입니다.\n\n이 정보를 바탕으로 재무 건전성을 분석하고, 투자 시 주의할 점 및 리스크 요인을 알려주세요.'

In [190]:
import requests
import json
import uuid
import time


class CompletionExecutor:
    def __init__(self, host, api_key, request_id):
        self._host = host
        self._api_key = api_key
        self._request_id = request_id

    def execute(self, completion_request):
        headers = {
            'Authorization': self._api_key,
            'X-NCP-CLOVASTUDIO-REQUEST-ID': self._request_id,
            'Content-Type': 'application/json; charset=utf-8',
            'Accept': 'text/event-stream'
        }
        
        with requests.post(self._host + '/testapp/v3/chat-completions/HCX-DASH-002',
                           headers=headers, json=completion_request, stream=True) as r:
            
            final_content = None
            
            for line in r.iter_lines():
                if not line:
                    continue

                decoded_line = line.decode('utf-8')
                
                if 'data: [DONE]' in decoded_line:
                    break
                
                if decoded_line.startswith('data:'):
                    try:
                        json_str = decoded_line[len('data:'):].strip()
                        data = json.loads(json_str)
                        
                        if 'message' in data and 'content' in data['message']:
                            if data['message']['content']:
                                final_content = data['message']['content']
                    except (json.JSONDecodeError, KeyError):
                        continue
                        
        return final_content

In [191]:
def analyze_financial_content(content):
    if not isinstance(content, str) or not content.strip():
        return "내용 없음"

    completion_executor = CompletionExecutor(
        host='https://clovastudio.stream.ntruss.com',
        api_key='Bearer '"nv-b01cb4586372450288c8fd181c66a4batcOl",
        request_id=str(uuid.uuid4())
    )

    messages = [
        {
            "role": "system",
            "content": "너는 재무제표 분석 전문가야. 아래 내용을 바탕으로 재무 건전성과 투자 리스크를 분석해줘."
        },
        {
            "role": "user",
            "content": content
        }
    ]

    request_data = {
        'messages': messages,  # ✅ 이걸 문자열이 아니라 dict 리스트로
        'topP': 0.8,
        'topK': 0,
        'maxTokens': 256,
        'temperature': 0.5,
        'repetitionPenalty': 1.1,
        'stop': [],
        'includeAiFilters': True,
        'seed': 0
    }

    try:
        result = completion_executor.execute(request_data)
        time.sleep(0.5)
        return result if result else "응답 없음"
    except Exception as e:
        print(f"API 처리 중 오류 발생: {e}")
        return "오류 발생"

In [192]:
def batch_analyze(df_prompts):
    results = []
    for idx, row in prompts_df.iterrows():
        try:
            prompt_text = row['prompt']
            print(f"처리 중: {row['기업명']} ({idx+1}/{len(prompts_df)})")
            res = analyze_financial_content(prompt_text)
        except Exception as e:
            print(f"오류 발생 ({row['기업명']}): {e}")
            res = "오류 발생"
        results.append(res)
    return results

코스피100 실제 적용 코드

In [193]:
from tqdm import tqdm
import time

def batch_analyze(df_prompts):
    results = []
    for idx, row in tqdm(df_prompts.iterrows(), total=len(df_prompts), desc="LLM 분석 진행중"):
        try:
            prompt_text = row['prompt']
            # print(f"처리 중: {row['기업명']} ({idx+1}/{len(df_prompts)})")  # tqdm이 대신 표시해 줌
            res = analyze_financial_content(prompt_text)
            time.sleep(0.5)  # API 호출 제한 대비 딜레이
        except Exception as e:
            print(f"오류 발생 ({row['기업명']}): {e}")
            res = "오류 발생"
        results.append(res)
    return results

In [194]:
# 1. batch_analyze 함수 호출해서 요약 결과 리스트 받기
results = batch_analyze(df_prompts)

# 2. df_prompts에 'summary' 컬럼으로 결과 추가
df_prompts['summary'] = results

# 3. 결과 일부 확인하기
print(df_prompts[['기업명', 'summary']].head())

LLM 분석 진행중: 100%|██████████| 74/74 [07:05<00:00,  5.75s/it]

        기업명                                            summary
0   BNK금융지주  **재무 건전성 분석**\n\n**1. 수익성**\n- **당기순이익**: 2023...
1        CJ  **재무 건전성 분석**\n\n**1. 유동성 지표**\n- **유동비율**: (유...
2    DB손해보험  **재무 건전성 분석**\n\n**자본적정성**\n- **부채 대비 자본 비율**:...
3        GS  **재무 건전성 분석**\n\n**1. 유동성**\n- **유동비율**: (유동자산...
4  HD한국조선해양  **재무 건전성 분석**\n\n**1. 수익성**\n- **영업이익률**: 2023...

In [195]:
df_prompts['company']=df_prompts['기업명']
df_prompts=df_prompts.drop(columns=['기업명'])
df_prompts.tail(1)

,prompt,summary,company
73,다음은 효성중공업의 최근 재무정보입니다:\n\n효성중공업의 최근 재무정보를 보면 2...,**재무 건전성 분석**\n\n**1. 유동비율**\n- **2023년**: (유동...,효성중공업

-> df_prompts 데이터프레임에 해당 기업의 이름, 프롬프트, llm 결과가 들어있습니다. 이것을 데이터베이스에 넣을게요

데이터베이스 넣기 전 티커 붙이기(영문명은 가져오기가 좀 빡셉니다..)

In [196]:
import FinanceDataReader as fdr
import pandas as pd

# KRX 상장기업 목록 불러오기
df_krx = fdr.StockListing('KRX')

# 티커 형식 만들기 (6자리 숫자 + .KS)
df_krx['Ticker'] = df_krx['Code'].astype(str).str.zfill(6) + '.KS'

# 기업명과 티커만 추출
ticker_map = df_krx[['Name', 'Ticker']]

print(ticker_map.head())

       Name     Ticker
0      삼성전자  005930.KS
1    SK하이닉스  000660.KS
2  삼성바이오로직스  207940.KS
3  LG에너지솔루션  373220.KS
4     삼성전자우  005935.KS

In [201]:
# 한글명 기준으로 티커 붙이기
financial_statements = df_prompts.merge(ticker_map, left_on='company', right_on='Name', how='left')

financial_statements.head(5)

,prompt,summary,company,Name,Ticker
0,다음은 BNK금융지주의 최근 재무정보입니다:\n\nBNK금융지주의 최근 재무정보를 ...,**재무 건전성 분석**\n\n**1. 수익성**\n- **당기순이익**: 2023...,BNK금융지주,BNK금융지주,138930.KS
1,다음은 CJ의 최근 재무정보입니다:\n\nCJ의 최근 재무정보를 보면 2023년 매...,**재무 건전성 분석**\n\n**1. 유동성 지표**\n- **유동비율**: (유...,CJ,CJ,001040.KS
2,다음은 DB손해보험의 최근 재무정보입니다:\n\nDB손해보험의 최근 재무정보를 보면...,**재무 건전성 분석**\n\n**자본적정성**\n- **부채 대비 자본 비율**:...,DB손해보험,DB손해보험,005830.KS
3,다음은 GS의 최근 재무정보입니다:\n\nGS의 최근 재무정보를 보면 2023년 매...,**재무 건전성 분석**\n\n**1. 유동성**\n- **유동비율**: (유동자산...,GS,GS,078930.KS
4,다음은 HD한국조선해양의 최근 재무정보입니다:\n\nHD한국조선해양의 최근 재무정보...,**재무 건전성 분석**\n\n**1. 수익성**\n- **영업이익률**: 2023...,HD한국조선해양,HD한국조선해양,009540.KS

데이터베이스로 가져가기

In [ ]:
!pip install supabase

Defaulting to user installation because normal site-packages is not writeable
Collecting supabase
  Obtaining dependency information for supabase from https://files.pythonhosted.org/packages/7e/75/2ab71e6605d20a740ff041c6176a328cfaa3fcee0dd0db885e081d98df06/supabase-2.16.0-py3-none-any.whl.metadata
  Downloading supabase-2.16.0-py3-none-any.whl.metadata (10 kB)
Collecting gotrue<3.0.0,>=2.11.0 (from supabase)
  Obtaining dependency information for gotrue<3.0.0,>=2.11.0 from https://files.pythonhosted.org/packages/42/fa/4165d298ef89254c9f742faa3f99a61fe6fd3552b4ba44df6924f8d307d7/gotrue-2.12.3-py3-none-any.whl.metadata
  Downloading gotrue-2.12.3-py3-none-any.whl.metadata (6.5 kB)
Collecting httpx<0.29,>=0.26 (from supabase)
  Obtaining dependency information for httpx<0.29,>=0.26 from https://files.pythonhosted.org/packages/2a/39/e50c7c3a983047577ee07d2a9e53faf5a69493943ec3f6a384bdc792deb2/httpx-0.28.1-py3-none-any.whl.metadata
  Downloading httpx-0.28.1-py3-none-any.whl.metadata (7.1 kB)
Collecting postgrest<1.2,>0.19 (from supabase)
  Obtaining dependency information for postgrest<1.2,>0.19 from https://files.pythonhosted.org/packages/a4/71/188a50ea64c17f73ff4df5196ec1553a8f1723421eb2d1069c73bab47d78/postgrest-1.1.1-py3-none-any.whl.metadata
  Downloading postgrest-1.1.1-py3-none-any.whl.metadata (3.5 kB)
Collecting realtime<2.6.0,>=2.4.0 (from supabase)
  Obtaining dependency information for realtime<2.6.0,>=2.4.0 from https://files.pythonhosted.org/packages/fe/2a/f69c156a58d44b7b9ca22dab181b91e4d93d074f99923c75907bf3953d40/realtime-2.5.3-py3-none-any.whl.metadata
  Downloading realtime-2.5.3-py3-none-any.whl.metadata (6.7 kB)
Collecting storage3<0.13,>=0.10 (from supabase)
  Obtaining dependency information for storage3<0.13,>=0.10 from https://files.pythonhosted.org/packages/b0/7e/693d6d603db142eb5e6f3cb76eb6e9c439582b7539e2695e175e2de3ac44/storage3-0.12.0-py3-none-any.whl.metadata
  Downloading storage3-0.12.0-py3-none-any.whl.metadata (1.9 kB)
Collecting supafunc<0.11,>=0.9 (from supabase)
  Obtaining dependency information for supafunc<0.11,>=0.9 from https://files.pythonhosted.org/packages/76/4a/9cbea12d86a741d4e73a6e278c2b1d6479fb03d1002efb00e8e71aea76db/supafunc-0.10.1-py3-none-any.whl.metadata
  Downloading supafunc-0.10.1-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: pydantic<3,>=1.10 in c:\programdata\anaconda2\lib\site-packages (from gotrue<3.0.0,>=2.11.0->supabase) (1.10.8)
Collecting pyjwt<3.0.0,>=2.10.1 (from gotrue<3.0.0,>=2.11.0->supabase)
  Obtaining dependency information for pyjwt<3.0.0,>=2.10.1 from https://files.pythonhosted.org/packages/61/ad/689f02752eeec26aed679477e80e632ef1b682313be70793d798c1d5fc8f/PyJWT-2.10.1-py3-none-any.whl.metadata
  Downloading PyJWT-2.10.1-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: anyio in c:\programdata\anaconda2\lib\site-packages (from httpx<0.29,>=0.26->supabase) (3.5.0)
Requirement already satisfied: certifi in c:\users\mcdor\appdata\roaming\python\python311\site-packages (from httpx<0.29,>=0.26->supabase) (2025.6.15)
Collecting httpcore==1.* (from httpx<0.29,>=0.26->supabase)
  Obtaining dependency information for httpcore==1.* from https://files.pythonhosted.org/packages/7e/f5/f66802a942d491edb555dd61e3a9961140fd64c90bce1eafd741609d334d/httpcore-1.0.9-py3-none-any.whl.metadata
  Downloading httpcore-1.0.9-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: idna in c:\programdata\anaconda2\lib\site-packages (from httpx<0.29,>=0.26->supabase) (3.4)
Collecting h11>=0.16 (from httpcore==1.*->httpx<0.29,>=0.26->supabase)
  Obtaining dependency information for h11>=0.16 from https://files.pythonhosted.org/packages/04/4b/29cac41a4d98d144bf5f6d33995617b185d14b22401f75ca86f384e87ff1/h11-0.16.0-py3-none-any.whl.metadata
  Downloading h11-0.16.0-py3-none-any.whl.metadata (8.3 kB)
Collecting deprecation<3.0.0,>=2.1.0 (from postgrest<1.2,>0.19->supabase)
  Obtaining dependency information for deprecation<3.0.0,>=2.1.0 from https://files.pythonhosted.org/packages/02/c3/253a89ee03fc9b9682f1541728eb66db7db22148cd94f89ab22528cd1e1b/deprecation-2.1.0-py2.py3-none-any.whl.metadata
  Downloading deprecation-2.1.0-py2.py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions<5.0.0,>=4.14.0 in c:\users\mcdor\appdata\roaming\python\python311\site-packages (from realtime<2.6.0,>=2.4.0->supabase) (4.14.0)
Requirement already satisfied: websockets<16,>=11 in c:\users\mcdor\appdata\roaming\python\python311\site-packages (from realtime<2.6.0,>=2.4.0->supabase) (15.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in c:\programdata\anaconda2\lib\site-packages (from storage3<0.13,>=0.10->supabase) (2.8.2)
Collecting strenum<0.5.0,>=0.4.15 (from supafunc<0.11,>=0.9->supabase)
  Obtaining dependency information for strenum<0.5.0,>=0.4.15 from https://files.pythonhosted.org/packages/81/69/297302c5f5f59c862faa31e6cb9a4cd74721cd1e052b38e464c5b402df8b/StrEnum-0.4.15-py3-none-any.whl.metadata
  Downloading StrEnum-0.4.15-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: packaging in c:\programdata\anaconda2\lib\site-packages (from deprecation<3.0.0,>=2.1.0->postgrest<1.2,>0.19->supabase) (23.1)
Collecting h2<5,>=3 (from httpx<0.29,>=0.26->supabase)
  Obtaining dependency information for h2<5,>=3 from https://files.pythonhosted.org/packages/d0/9e/984486f2d0a0bd2b024bf4bc1c62688fcafa9e61991f041fb0e2def4a982/h2-4.2.0-py3-none-any.whl.metadata
  Downloading h2-4.2.0-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: six>=1.5 in c:\users\mcdor\appdata\roaming\python\python311\site-packages (from python-dateutil<3.0.0,>=2.8.2->storage3<0.13,>=0.10->supabase) (1.17.0)
Requirement already satisfied: sniffio>=1.1 in c:\users\mcdor\appdata\roaming\python\python311\site-packages (from anyio->httpx<0.29,>=0.26->supabase) (1.3.1)
Collecting hyperframe<7,>=6.1 (from h2<5,>=3->httpx<0.29,>=0.26->supabase)
  Obtaining dependency information for hyperframe<7,>=6.1 from https://files.pythonhosted.org/packages/48/30/47d0bf6072f7252e6521f3447ccfa40b421b6824517f82854703d0f5a98b/hyperframe-6.1.0-py3-none-any.whl.metadata
  Downloading hyperframe-6.1.0-py3-none-any.whl.metadata (4.3 kB)
Collecting hpack<5,>=4.1 (from h2<5,>=3->httpx<0.29,>=0.26->supabase)
  Obtaining dependency information for hpack<5,>=4.1 from https://files.pythonhosted.org/packages/07/c6/80c95b1b2b94682a72cbdbfb85b81ae2daffa4291fbfa1b1464502ede10d/hpack-4.1.0-py3-none-any.whl.metadata
  Downloading hpack-4.1.0-py3-none-any.whl.metadata (4.6 kB)
Downloading supabase-2.16.0-py3-none-any.whl (17 kB)
Downloading gotrue-2.12.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.0 kB ? eta -:--:--
   ------------------------------------- -- 41.0/44.0 kB ? eta -:--:--
   ---------------------------------------- 44.0/44.0 kB 196.4 kB/s eta 0:00:00
Downloading httpx-0.28.1-py3-none-any.whl (73 kB)
   ---------------------------------------- 0.0/73.5 kB ? eta -:--:--
   ---------------------------------------  71.7/73.5 kB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 73.5/73.5 kB 506.2 kB/s eta 0:00:00
Downloading httpcore-1.0.9-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.8 kB ? eta -:--:--
   ---------------------------------------- 78.8/78.8 kB 4.6 MB/s eta 0:00:00
Downloading postgrest-1.1.1-py3-none-any.whl (22 kB)
Downloading realtime-2.5.3-py3-none-any.whl (21 kB)
Downloading storage3-0.12.0-py3-none-any.whl (18 kB)
Downloading supafunc-0.10.1-py3-none-any.whl (8.0 kB)
Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Downloading PyJWT-2.10.1-py3-none-any.whl (22 kB)
Downloading StrEnum-0.4.15-py3-none-any.whl (8.9 kB)
Downloading h11-0.16.0-py3-none-any.whl (37 kB)
Downloading h2-4.2.0-py3-none-any.whl (60 kB)
   ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
   ---------------------------------------- 61.0/61.0 kB 3.2 MB/s eta 0:00:00
Downloading hpack-4.1.0-py3-none-any.whl (34 kB)
Downloading hyperframe-6.1.0-py3-none-any.whl (13 kB)
Installing collected packages: strenum, realtime, pyjwt, hyperframe, hpack, h11, deprecation, httpcore, h2, httpx, supafunc, storage3, postgrest, gotrue, supabase
  Attempting uninstall: h11
    Found existing installation: h11 0.14.0
    Uninstalling h11-0.14.0:
      Successfully uninstalled h11-0.14.0
Successfully installed deprecation-2.1.0 gotrue-2.12.3 h11-0.16.0 h2-4.2.0 hpack-4.1.0 httpcore-1.0.9 httpx-0.28.1 hyperframe-6.1.0 postgrest-1.1.1 pyjwt-2.10.1 realtime-2.5.3 storage3-0.12.0 strenum-0.4.15 supabase-2.16.0 supafunc-0.10.1

  WARNING: The script httpx.exe is installed in 'C:\Users\mcdor\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script tests.exe is installed in 'C:\Users\mcdor\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [202]:
from supabase import create_client, Client

url = "https://hcmniqyaqybzhmzmaumh.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjbW5pcXlhcXliemhtem1hdW1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTQzOTk0OCwiZXhwIjoyMDY3MDE1OTQ4fQ.1K2yL8sWZ0-NwfBNKamhZO23HdD16PCXH_k4LZx_bss"  # service key여야 insert 가능
supabase: Client = create_client(url, key)

In [207]:
for _, row in financial_statements.iterrows():
    data = {
        "company": str(row["company"]),
        "prompt": str(row["prompt"]),
        "summary": str(row["summary"]),
        "ticker": str(row["Ticker"])

    }

    try:
        print("업로드 중:", data["company"])
        supabase.table("financial_statements").insert(data).execute()
    except Exception as e:
        print(f"❌ {data['company']} 업로드 실패: {e}")

업로드 중: BNK금융지주
업로드 중: CJ
업로드 중: DB손해보험
업로드 중: GS
업로드 중: HD한국조선해양
업로드 중: HD현대
업로드 중: HD현대마린솔루션
업로드 중: HD현대미포
업로드 중: HD현대일렉트릭
업로드 중: HD현대중공업
업로드 중: HMM
업로드 중: KB금융
업로드 중: LG
업로드 중: LG생활건강
업로드 중: LG씨엔에스
업로드 중: LG에너지솔루션
업로드 중: LG유플러스
업로드 중: LG전자
업로드 중: LG화학
업로드 중: LIG넥스원
업로드 중: LS
업로드 중: NAVER
업로드 중: NH투자증권
업로드 중: POSCO홀딩스
업로드 중: S-Oil
업로드 중: SK스퀘어
업로드 중: SK이노베이션
업로드 중: SK텔레콤
업로드 중: SK하이닉스
업로드 중: 고려아연
업로드 중: 기업은행
업로드 중: 대한항공
업로드 중: 두산
업로드 중: 두산밥캣
업로드 중: 두산에너빌리티
업로드 중: 메리츠금융지주
업로드 중: 삼성E&A
업로드 중: 삼성SDI
업로드 중: 삼성바이오로직스
업로드 중: 삼성생명
업로드 중: 삼성에스디에스
업로드 중: 삼성전기
업로드 중: 삼성전자
업로드 중: 삼성중공업
업로드 중: 삼성증권
업로드 중: 삼성카드
업로드 중: 삼양식품
업로드 중: 신한지주
업로드 중: 아모레퍼시픽
업로드 중: 에이피알
업로드 중: 유한양행
업로드 중: 카카오뱅크
업로드 중: 카카오페이
업로드 중: 코웨이
업로드 중: 크래프톤
업로드 중: 키움증권
업로드 중: 포스코인터내셔널
업로드 중: 포스코퓨처엠
업로드 중: 하나금융지주
업로드 중: 한국금융지주
업로드 중: 한국타이어앤테크놀로지
업로드 중: 한국항공우주
업로드 중: 한미반도체
업로드 중: 한진칼
업로드 중: 한화
업로드 중: 한화솔루션
업로드 중: 한화시스템
업로드 중: 한화에어로스페이스
업로드 중: 한화오션
업로드 중: 현대건설
업로드 중: 현대글로비스
업로드 중: 현대로템
업로드 중: 현대모비스
업로드 중: 효성중공업