재무제표 데이터 수집 파일입니다.

우선 코스피 상위 100개 종목의 명칭을 크롤링한 후 각 기업의 재무제표를 가져오는 과정입니다.

1. 코스피 상위 100개 크롤링

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

data = []

# 1~2 페이지 순회
for page in [1, 2]:
    url = f"https://stock.mk.co.kr/domestic/ranking/market_cap?page={page}"
    res = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
    soup = BeautifulSoup(res.text, "html.parser")

    table = soup.select_one("table")
    rows = table.select("tr")[1:]  # 첫 행은 헤더

    for row in rows:
        cols = [td.get_text(strip=True) for td in row.find_all("td")]
        if not cols:
            continue
        data.append({
            "종목명": cols[0],
            "현재가": cols[1],
            "등락률": cols[2],
            "시가총액": cols[4]
        })

df = pd.DataFrame(data)
df.tail()

C:\Users\mcdor\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

               종목명      현재가    등락률       시가총액
95           삼성E&A   23,900    700  4,684,400
96         LG디스플레이    9,300    220  4,650,000
97            현대제철   34,750    800  4,637,241
98  KODEX 미국S&P500   19,505    110  4,588,551
99             오리온  116,000  2,500  4,586,191

In [2]:
kospi100 = df.iloc[:, 0].tolist()
kospi100

['삼성전자',
 'SK하이닉스',
 '삼성바이오로직스',
 'LG에너지솔루션',
 '현대차',
 '삼성전자우',
 'KB금융',
 '셀트리온',
 'NAVER',
 '기아',
 '두산에너빌리티',
 '한화에어로스페이스',
 'HD현대중공업',
 '신한지주',
 '삼성물산',
 '현대모비스',
 '카카오',
 'POSCO홀딩스',
 'HMM',
 '삼성생명',
 '하나금융지주',
 '한국전력',
 '한화오션',
 'HD한국조선해양',
 'SK스퀘어',
 '메리츠금융지주',
 '삼성화재',
 '현대로템',
 'LG화학',
 'SK이노베이션',
 '크래프톤',
 '우리금융지주',
 '고려아연',
 'KT&G',
 'HD현대일렉트릭',
 '기업은행',
 '삼성SDI',
 'KT',
 'SK',
 '카카오뱅크',
 '삼성중공업',
 '삼성에스디에스',
 'LG전자',
 'LG',
 'SK텔레콤',
 '하이브',
 '미래에셋증권',
 'LIG넥스원',
 '카카오페이',
 '삼성전기',
 '포스코퓨처엠',
 '현대글로비스',
 '한화시스템',
 'HD현대',
 '삼양식품',
 '두산',
 '포스코인터내셔널',
 '한미반도체',
 'DB손해보험',
 '대한항공',
 '유한양행',
 'KODEX CD금리액티브(합성)',
 'HD현대마린솔루션',
 'TIGER 미국S&P500',
 '효성중공업',
 '한국항공우주',
 '한진칼',
 '현대건설',
 'LS ELECTRIC',
 '아모레퍼시픽',
 'LG씨엔에스',
 '한국금융지주',
 'SK바이오팜',
 'S-Oil',
 '코웨이',
 'HD현대미포',
 'KODEX 200',
 'KODEX 머니마켓액티브',
 'NH투자증권',
 'LG유플러스',
 '한화',
 '한화솔루션',
 '삼성증권',
 '삼성카드',
 '현대차2우B',
 'LS',
 '맥쿼리인프라',
 '한국타이어앤테크놀로지',
 '키움증권',
 '넷마블',
 '에이피알',
 '두산밥캣',
 'TIGER 미국나스닥100',
 'LG생활건강',
 'TIGER CD금리투자KIS(합성)',
 '삼성E&A',
 'LG디스플레이',
 '현대제철',
 'KODEX 미국S&P500',
 '오리온']

2. 재무제표 크롤링

(1) 삼성전자 예시

In [3]:
#!pip install opendartreader #필요시 설치
import OpenDartReader

In [4]:
api_key ='699356c21478b2299c8a02f5ace80239bdb2f344'

In [5]:
dart=OpenDartReader(api_key)
dart

In [6]:
dart_2025=dart.finstate("삼성전자",2024)
dart_2025.columns

Index(['rcept_no', 'reprt_code', 'bsns_year', 'corp_code', 'stock_code',
       'fs_div', 'fs_nm', 'sj_div', 'sj_nm', 'account_nm', 'thstrm_nm',
       'thstrm_dt', 'thstrm_amount', 'frmtrm_nm', 'frmtrm_dt', 'frmtrm_amount',
       'bfefrmtrm_nm', 'bfefrmtrm_dt', 'bfefrmtrm_amount', 'ord', 'currency'],
      dtype='object')

In [7]:
#컬럼이 영어라 한국어로 바꿉니다
column_map = {
    'rcept_no': '접수번호',
    'reprt_code': '보고서코드',
    'bsns_year': '사업연도',
    'corp_code': '회사코드',
    'stock_code': '종목코드',
    'fs_div': '연결/별도 구분',
    'fs_nm': '재무제표명',
    'sj_div': '재무제표종류코드',
    'sj_nm': '재무제표종류',
    'account_nm': '계정명',
    'thstrm_nm': '당기명칭',
    'thstrm_dt': '당기종료일',
    'thstrm_amount': '당기금액',
    'frmtrm_nm': '전기명칭',
    'frmtrm_dt': '전기종료일',
    'frmtrm_amount': '전기금액',
    'bfefrmtrm_nm': '전전기명칭',
    'bfefrmtrm_dt': '전전기종료일',
    'bfefrmtrm_amount': '전전기금액',
    'ord': '출력순서',
    'currency': '통화단위'
}

In [8]:
dart_2025.rename(columns=column_map, inplace=True)
dart_2025.tail()

,접수번호,보고서코드,사업연도,회사코드,종목코드,연결/별도 구분,재무제표명,재무제표종류코드,재무제표종류,계정명,...,당기종료일,당기금액,전기명칭,전기종료일,전기금액,전전기명칭,전전기종료일,전전기금액,출력순서,통화단위
25,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,영업이익,...,2024.01.01 ~ 2024.12.31,"12,361,034,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"-11,526,297,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"25,319,329,000,000",26,KRW
26,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,...,2024.01.01 ~ 2024.12.31,"21,749,578,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"17,531,500,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"29,691,920,000,000",28,KRW
27,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,당기순이익,...,2024.01.01 ~ 2024.12.31,"23,582,565,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"25,397,099,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"25,418,778,000,000",30,KRW
28,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,당기순이익(손실),...,2024.01.01 ~ 2024.12.31,"23,582,565,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"25,397,099,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"25,418,778,000,000",62,KRW
29,20250311001085,11011,2024,00126380,005930,OFS,재무제표,IS,손익계산서,총포괄손익,...,2024.01.01 ~ 2024.12.31,"23,230,095,000,000",제 55 기,2023.01.01 ~ 2023.12.31,"25,181,020,000,000",제 54 기,2022.01.01 ~ 2022.12.31,"26,031,896,000,000",64,KRW

-> 여기서 계정명 컬럼과 당기금액 컬럼만 필요

In [9]:
dart_2025_main =dart_2025[['계정명','당기금액']] #컬럼중 계정명과 당기금액이 중요
dart_2025_main

           계정명                 당기금액
0         유동자산  227,062,266,000,000
1        비유동자산  287,469,682,000,000
2         자산총계  514,531,948,000,000
3         유동부채   93,326,299,000,000
4        비유동부채   19,013,579,000,000
5         부채총계  112,339,878,000,000
6          자본금      897,514,000,000
7        이익잉여금  370,513,188,000,000
8         자본총계  402,192,070,000,000
9          매출액  300,870,903,000,000
10        영업이익   32,725,961,000,000
11  법인세차감전 순이익   37,529,734,000,000
12       당기순이익   34,451,351,000,000
13   당기순이익(손실)   34,451,351,000,000
14       총포괄손익   51,296,338,000,000
15        유동자산   82,320,322,000,000
16       비유동자산  242,645,805,000,000
17        자산총계  324,966,127,000,000
18        유동부채   80,157,976,000,000
19       비유동부채    8,411,494,000,000
20        부채총계   88,569,470,000,000
21         자본금      897,514,000,000
22       이익잉여금  233,734,316,000,000
23        자본총계  236,396,657,000,000
24         매출액  209,052,241,000,000
25        영업이익   12,361,034,000,000
26  법인세차감전 순이익   21,749,578,000,000
27       당기순이익   23,582,565,000,000
28   당기순이익(손실)   23,582,565,000,000
29       총포괄손익   23,230,095,000,000

(2) kospi 시총 상위 100개 리스트 재무제표 크롤링

In [15]:
import pandas as pd
from tqdm import tqdm
import OpenDartReader
api_key = '699356c21478b2299c8a02f5ace80239bdb2f344'
dart = OpenDartReader(api_key)
main_df = pd.DataFrame()

for stock in tqdm(kospi100):
    try:
        df = dart.finstate(corp=stock, bsns_year=2025, reprt_code='11013')  #2025 1분기 보고서
        
        if df is None or df.empty:
            print(f"{stock} 재무제표 없음")
            continue
        
        # 연결재무제표만 필터
        df = df[df['fs_nm'] == '연결재무제표']
        
        # 'account_nm'과 당기금액('thstrm_amount')만 가져옴
        df_main = df[['account_nm', 'thstrm_amount']].copy()
        df_main.columns = ['계정명', stock]
        
        if main_df.empty:
            main_df = df_main
        else:
            main_df = pd.merge(main_df, df_main, on='계정명', how='outer')

    except Exception as e:
        print(f"{stock} 처리 중 오류: {e}")

main_df = main_df.drop_duplicates(subset='계정명').set_index('계정명')

main_df

  4%|▍         | 4/100 [00:04<01:54,  1.19s/it]

현대차 처리 중 오류: argument of type 'NoneType' is not iterable
삼성전자우 처리 중 오류: argument of type 'NoneType' is not iterable

  8%|▊         | 8/100 [00:07<01:10,  1.31it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

셀트리온 재무제표 없음

 10%|█         | 10/100 [00:09<01:21,  1.11it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

기아 재무제표 없음

 15%|█▌        | 15/100 [00:14<01:30,  1.07s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

삼성물산 재무제표 없음

 17%|█▋        | 17/100 [00:17<01:30,  1.10s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

카카오 재무제표 없음

 21%|██        | 21/100 [00:21<01:24,  1.07s/it]

한국전력 처리 중 오류: argument of type 'NoneType' is not iterable

 26%|██▌       | 26/100 [00:25<01:12,  1.02it/s]

삼성화재 처리 중 오류: argument of type 'NoneType' is not iterable

 32%|███▏      | 32/100 [00:31<01:10,  1.04s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

우리금융지주 재무제표 없음

 33%|███▎      | 33/100 [00:32<01:12,  1.09s/it]

KT&G 처리 중 오류: argument of type 'NoneType' is not iterable

 36%|███▌      | 36/100 [00:35<01:08,  1.06s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

기업은행 재무제표 없음

 37%|███▋      | 37/100 [00:36<01:09,  1.10s/it]

KT 처리 중 오류: argument of type 'NoneType' is not iterable

 39%|███▉      | 39/100 [00:37<00:54,  1.11it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

SK 재무제표 없음

 46%|████▌     | 46/100 [00:47<01:13,  1.37s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

하이브 재무제표 없음

 47%|████▋     | 47/100 [00:49<01:15,  1.42s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

미래에셋증권 재무제표 없음

 61%|██████    | 61/100 [01:07<00:44,  1.14s/it]

KODEX CD금리액티브(합성) 처리 중 오류: argument of type 'NoneType' is not iterable

 63%|██████▎   | 63/100 [01:08<00:33,  1.10it/s]

TIGER 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

 68%|██████▊   | 68/100 [01:12<00:30,  1.04it/s]

LS ELECTRIC 처리 중 오류: argument of type 'NoneType' is not iterable

 72%|███████▏  | 72/100 [01:16<00:26,  1.04it/s]

SK바이오팜 처리 중 오류: argument of type 'NoneType' is not iterable

 76%|███████▌  | 76/100 [01:19<00:22,  1.08it/s]

KODEX 200 처리 중 오류: argument of type 'NoneType' is not iterable
KODEX 머니마켓액티브 처리 중 오류: argument of type 'NoneType' is not iterable

 84%|████████▍ | 84/100 [01:26<00:16,  1.01s/it]

현대차2우B 처리 중 오류: argument of type 'NoneType' is not iterable

 87%|████████▋ | 87/100 [01:28<00:11,  1.14it/s]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

맥쿼리인프라 재무제표 없음

 90%|█████████ | 90/100 [01:32<00:10,  1.06s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

넷마블 재무제표 없음

 92%|█████████▏| 92/100 [01:34<00:08,  1.08s/it]

TIGER 미국나스닥100 처리 중 오류: argument of type 'NoneType' is not iterable

 94%|█████████▍| 94/100 [01:35<00:05,  1.18it/s]

TIGER CD금리투자KIS(합성) 처리 중 오류: argument of type 'NoneType' is not iterable

 98%|█████████▊| 98/100 [01:38<00:01,  1.12it/s]

KODEX 미국S&P500 처리 중 오류: argument of type 'NoneType' is not iterable

100%|██████████| 100/100 [01:40<00:00,  1.00s/it]

{'status': '013', 'message': '조회된 데이타가 없습니다.'}

오리온 재무제표 없음

,삼성전자,SK하이닉스,삼성바이오로직스,LG에너지솔루션,KB금융,NAVER,두산에너빌리티,한화에어로스페이스,HD현대중공업,신한지주,...,삼성카드,LS,한국타이어앤테크놀로지,키움증권,에이피알,두산밥캣,LG생활건강,삼성E&A,LG디스플레이,현대제철
계정명,,,,,,,,,,,,,,,,,,,,,
기타포괄손익-공정가치측정금융자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"547,652,464,683",NaN,NaN,NaN,NaN,NaN,NaN
당기손익-공정가치측정금융자산,NaN,NaN,NaN,NaN,"84,218,327,000,000",NaN,NaN,NaN,NaN,"73,491,188,000,000",...,NaN,NaN,NaN,"31,556,374,965,327",NaN,NaN,NaN,NaN,NaN,NaN
당기순이익,"8,222,878,000,000","8,108,195,000,000","375,553,550,929","226,573,000,000","1,699,122,000,000","423,661,329,790","-21,157,000,000","209,348,668,000","284,230,314,000","1,517,046,000,000",...,"184,440,330,982","141,111,000,000","312,207,573,348","235,599,580,315","49,941,244,107","78,042,000","103,459,072,938","157,212,353,869","-237,032,000,000","-54,393,174,968"
당기순이익(손실),"8,222,878,000,000","8,108,195,000,000","375,553,550,929","226,573,000,000","1,699,122,000,000","423,661,329,790","-21,157,000,000","209,348,668,000","284,230,314,000","1,517,046,000,000",...,"184,440,330,982","141,111,000,000","312,207,573,348","235,599,580,315","49,941,244,107","78,042,000","103,459,072,938","157,212,353,869","-237,032,000,000","-54,393,174,968"
매출액,"79,140,503,000,000","17,639,141,000,000","1,298,272,949,854","6,264,995,000,000",NaN,"2,786,783,351,907","3,748,574,000,000","5,484,220,608,000","3,822,515,741,000",NaN,...,"1,067,407,617,453","6,913,573,000,000","4,963,667,180,882","3,659,953,408,737","266,032,725,955","1,444,356,000","1,697,877,264,205","2,097,955,167,196","6,065,298,000,000","5,563,465,036,922"
법인세차감전 순이익,"9,151,576,000,000","9,299,229,000,000","499,386,550,907","364,506,000,000","2,306,606,000,000","580,108,521,984","30,207,000,000","261,035,970,000","376,264,685,000","2,005,558,000,000",...,"246,691,709,936","194,888,000,000","393,380,555,694","326,088,236,418","59,178,654,502","116,892,000","142,062,812,004","204,633,437,489","-148,495,000,000","-66,975,696,767"
보험계약부채,NaN,NaN,NaN,NaN,"59,243,225,000,000",NaN,NaN,NaN,NaN,"52,872,801,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
보험계약자산,NaN,NaN,NaN,NaN,"301,214,000,000",NaN,NaN,NaN,NaN,"2,312,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부채총계,"109,762,479,000,000","42,546,717,000,000","6,156,868,520,968","31,028,433,000,000","710,192,373,000,000","11,284,404,608,985","15,153,864,000,000","33,698,164,412,000","15,098,481,877,000","686,874,741,000,000",...,"21,934,393,696,232","14,508,413,000,000","12,033,741,941,034","54,730,763,471,594","235,668,245,170","3,689,199,000","1,821,819,436,913","6,042,997,589,177","24,153,761,000,000","15,439,622,878,862"
비유동부채,"19,482,767,000,000","17,710,316,000,000","2,537,774,547,278","19,163,471,000,000",NaN,"3,556,047,354,183","5,643,218,000,000","6,927,716,546,000","1,828,864,186,000",NaN,...,NaN,"3,277,828,000,000","4,230,463,385,262",NaN,"94,310,671,082","1,775,349,000","429,055,583,063","245,736,383,021","8,254,812,000,000","7,804,326,410,526"
비유동자산,"293,691,031,000,000","82,757,280,000,000","12,173,748,126,449","47,171,068,000,000",NaN,"29,557,138,760,876","16,388,575,000,000","20,339,083,676,000","8,948,270,416,000",NaN,...,NaN,"7,751,201,000,000","12,869,171,961,698",NaN,"232,380,080,725","5,183,575,000","4,542,923,648,416","2,141,103,659,268","21,762,563,000,000","23,039,928,620,802"
상각후원가측정금융자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"13,288,272,965,507",NaN,NaN,NaN,NaN,NaN,NaN
순수수료손익,NaN,NaN,NaN,NaN,"934,048,000,000",NaN,NaN,NaN,NaN,"678,146,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
순이자손익,NaN,NaN,NaN,NaN,"3,262,165,000,000",NaN,NaN,NaN,NaN,"2,854,888,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
영업비용,NaN,NaN,NaN,NaN,NaN,"2,281,482,017,970",NaN,NaN,NaN,NaN,...,"822,489,715,326",NaN,NaN,"-3,334,497,896,586",NaN,NaN,NaN,NaN,NaN,NaN
영업이익,"6,685,272,000,000","7,440,504,000,000","486,688,724,699","374,673,000,000",NaN,"505,301,333,937","142,475,000,000","560,746,176,000","433,734,171,000",NaN,...,NaN,"304,505,000,000","354,643,729,430",NaN,"54,568,141,909","137,708,000","142,369,362,877","157,303,530,634","33,464,000,000","-19,028,045,095"
영업이익(손실),NaN,NaN,NaN,NaN,"2,293,028,000,000",NaN,NaN,NaN,NaN,"1,944,214,000,000",...,"244,917,902,127",NaN,NaN,"325,455,512,151",NaN,NaN,NaN,NaN,NaN,NaN
예수부채,NaN,NaN,NaN,NaN,"434,357,614,000,000",NaN,NaN,NaN,NaN,"420,023,787,000,000",...,NaN,NaN,NaN,"16,208,334,479,658",NaN,NaN,NaN,NaN,NaN,NaN
유동부채,"90,279,712,000,000","24,836,401,000,000","3,619,093,973,690","11,864,962,000,000",NaN,"7,728,357,254,802","9,510,646,000,000","26,770,447,866,000","13,269,617,691,000",NaN,...,NaN,"11,230,585,000,000","7,803,278,555,772",NaN,"141,357,574,088","1,913,850,000","1,392,763,853,850","5,797,261,206,156","15,898,949,000,000","7,635,296,468,336"
유동자산,"222,685,717,000,000","41,228,190,000,000","5,263,228,961,804","15,127,910,000,000",NaN,"9,756,883,369,949","10,508,418,000,000","23,486,790,863,000","11,956,275,678,000",NaN,...,NaN,"14,009,791,000,000","11,285,431,038,141",NaN,"348,811,013,062","3,196,330,000","3,019,893,545,019","7,861,169,279,905","10,225,245,000,000","11,705,271,772,871"
이익잉여금,"373,062,171,000,000","72,621,873,000,000","5,462,162,171,126","1,240,583,000,000","36,156,396,000,000","26,207,229,629,984","1,548,618,000,000","4,672,231,266,000","1,387,035,781,000","40,196,034,000,000",...,"6,107,139,410,831","4,550,221,000,000","7,422,171,179,596","4,566,981,681,624","219,152,107,628","3,704,692,000","5,742,146,029,199","3,208,518,657,326","-281,111,000,000","13,245,502,962,482"
이자비용,NaN,NaN,NaN,NaN,"4,192,776,000,000",NaN,NaN,NaN,NaN,"4,213,036,000,000",...,"135,648,495,354",NaN,NaN,"-268,139,805,684",NaN,NaN,NaN,NaN,NaN,NaN
이자수익,NaN,NaN,NaN,NaN,"7,454,941,000,000","56,722,199,643",NaN,NaN,NaN,"7,067,924,000,000",...,"269,571,861,054",NaN,NaN,"449,198,523,937",NaN,NaN,NaN,NaN,NaN,NaN
자본금,"897,514,000,000","3,657,652,000,000","177,935,000,000","117,000,000,000","2,090,558,000,000","16,481,339,500","3,267,327,000,000","240,405,805,000","443,865,580,000","2,969,641,000,000",...,"614,794,455,000","161,000,000,000","61,937,534,500","145,224,895,000","3,845,589,000","43,096,000","88,589,470,000","980,000,000,000","2,500,000,000,000","667,228,925,000"
자본총계,"406,614,269,000,000","81,438,753,000,000","11,280,108,567,285","31,270,545,000,000","60,134,764,000,000","28,029,617,521,840","11,743,129,000,000","10,127,710,127,000","5,806,064,217,000","59,347,586,000,000",...,"8,374,475,192,209","7,252,579,000,000","12,120,861,058,805","5,647,767,418,325","345,522,848,617","4,690,706,000","5,740,997,756,522","3,959,275,349,996","7,834,047,000,000","19,305,577,514,811"
자산총계,"516,376,748,000,000","123,985,470,000,000","17,436,977,088,253","62,298,978,000,000","770,327,137,000,000","39,314,022,130,825","26,896,993,000,000","43,825,874,539,000","20,904,546,094,000","746,222,327,000,000",...,"30,308,868,888,441","21,760,992,000,000","24,154,602,999,839","60,378,530,889,919","581,191,093,787","8,379,905,000","7,562,817,193,435","10,002,272,939,173","31,987,808,000,000","34,745,200,393,673"
차입부채,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"25,638,806,850,084",NaN,NaN,NaN,NaN,NaN,NaN
총포괄손익,"9,435,916,000,000","8,115,926,000,000","375,432,505,267","398,963,000,000","791,382,000,000","1,141,127,547,493","115,214,000,000","293,461,651,000","287,151,528,000","982,387,000,000",...,"187,084,203,444","187,795,000,000","564,981,223,884","257,476,816,043","50,017,363,055","152,495,000","135,745,332,861","192,893,563,803","-238,760,000,000","71,575,786,252"
파생상품관련손익,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"26,275,245,504",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
파생상품부채,NaN,NaN,NaN,NaN,"10,152,203,000,000",NaN,NaN,NaN,NaN,"7,965,931,000,000",...,"4,882,575,749",NaN,NaN,"791,670,666,995",NaN,NaN,NaN,NaN,NaN,NaN
파생상품자산,NaN,NaN,NaN,NaN,"10,057,025,000,000",NaN,NaN,NaN,NaN,"8,242,221,000,000",...,"486,293,378,869",NaN,NaN,"766,058,852,685",NaN,NaN,NaN,NaN,NaN,NaN

결측치가 있는 것은 기업별로 재무제표가 다르기 때문입니다.<br>
그리고 컬럼이 100개가 아닌 것은 삼성전자, 삼성화학과 같이 같은 부류의 회사들은 시총이가장 큰 회사의 재무제표만 데이터가 나오기 때문입니다.

또한 코드를 보면 2025 1분기 보고서로 진행하였으며, 1분기 보고서를 아직 제출 안한 기업들은 데이터를 가져올 수 없습니다.