주요시장지수

s&p500, 나스닥100, 다우존스, 코스피, 코스닥 지수들이 있으며 종가 기준으로 60일치 데이터입니다.

1. s&p 500

In [ ]:
!pip install --upgrade --force-reinstall numpy
!pip install --upgrade --force-reinstall yfinanc #아래 코드 에러나면 돌려주세요.

In [31]:
import yfinance as yf
import pandas as pd

# 티커 설정 (S&P 500 지수)
ticker = '^GSPC'

# 최근 60일치 데이터 다운로드
snp500 = yf.download(ticker, period='60d')

# 종가 데이터만 추출
close_prices = snp500['Close']

snp500 = pd.DataFrame(snp500['Close'])
snp500.reset_index(inplace=True)  # 날짜 컬럼을 일반 컬럼으로 변환
snp500.columns = ['날짜', '종가']

snp500

C:\Users\mcdor\AppData\Local\Temp\ipykernel_13116\1095417731.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  snp500 = yf.download(ticker, period='60d')
[*********************100%***********************]  1 of 1 completed

           날짜           종가
0  2025-04-08  4982.770020
1  2025-04-09  5456.899902
2  2025-04-10  5268.049805
3  2025-04-11  5363.359863
4  2025-04-14  5405.970215
5  2025-04-15  5396.629883
6  2025-04-16  5275.700195
7  2025-04-17  5282.700195
8  2025-04-21  5158.200195
9  2025-04-22  5287.759766
10 2025-04-23  5375.859863
11 2025-04-24  5484.770020
12 2025-04-25  5525.209961
13 2025-04-28  5528.750000
14 2025-04-29  5560.830078
15 2025-04-30  5569.060059
16 2025-05-01  5604.140137
17 2025-05-02  5686.669922
18 2025-05-05  5650.379883
19 2025-05-06  5606.910156
20 2025-05-07  5631.279785
21 2025-05-08  5663.939941
22 2025-05-09  5659.910156
23 2025-05-12  5844.189941
24 2025-05-13  5886.549805
25 2025-05-14  5892.580078
26 2025-05-15  5916.930176
27 2025-05-16  5958.379883
28 2025-05-19  5963.600098
29 2025-05-20  5940.459961
30 2025-05-21  5844.609863
31 2025-05-22  5842.009766
32 2025-05-23  5802.819824
33 2025-05-27  5921.540039
34 2025-05-28  5888.549805
35 2025-05-29  5912.169922
36 2025-05-30  5911.689941
37 2025-06-02  5935.939941
38 2025-06-03  5970.370117
39 2025-06-04  5970.810059
40 2025-06-05  5939.299805
41 2025-06-06  6000.359863
42 2025-06-09  6005.879883
43 2025-06-10  6038.810059
44 2025-06-11  6022.240234
45 2025-06-12  6045.259766
46 2025-06-13  5976.970215
47 2025-06-16  6033.109863
48 2025-06-17  5982.720215
49 2025-06-18  5980.870117
50 2025-06-20  5967.839844
51 2025-06-23  6025.169922
52 2025-06-24  6092.180176
53 2025-06-25  6092.160156
54 2025-06-26  6141.020020
55 2025-06-27  6173.069824
56 2025-06-30  6204.950195
57 2025-07-01  6198.009766
58 2025-07-02  6227.419922
59 2025-07-03  6279.350098

2. 나스닥 100

In [32]:
nasdaq100 = yf.download('^NDX', period='60d')

# 종가만 추출해서 데이터프레임 만들기
nasdaq100 = pd.DataFrame(nasdaq100['Close'])
nasdaq100.reset_index(inplace=True)  # 날짜를 컬럼으로 변환
nasdaq100.columns = ['날짜', '종가']

nasdaq100

C:\Users\mcdor\AppData\Local\Temp\ipykernel_13116\146026161.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  nasdaq100 = yf.download('^NDX', period='60d')
[*********************100%***********************]  1 of 1 completed

           날짜            종가
0  2025-04-08  17090.400391
1  2025-04-09  19145.060547
2  2025-04-10  18343.570312
3  2025-04-11  18690.050781
4  2025-04-14  18796.019531
5  2025-04-15  18830.230469
6  2025-04-16  18257.640625
7  2025-04-17  18258.089844
8  2025-04-21  17808.300781
9  2025-04-22  18276.410156
10 2025-04-23  18693.259766
11 2025-04-24  19214.400391
12 2025-04-25  19432.560547
13 2025-04-28  19427.289062
14 2025-04-29  19544.949219
15 2025-04-30  19571.019531
16 2025-05-01  19786.710938
17 2025-05-02  20102.609375
18 2025-05-05  19967.939453
19 2025-05-06  19791.349609
20 2025-05-07  19867.970703
21 2025-05-08  20063.560547
22 2025-05-09  20061.449219
23 2025-05-12  20868.150391
24 2025-05-13  21197.699219
25 2025-05-14  21319.210938
26 2025-05-15  21335.820312
27 2025-05-16  21427.939453
28 2025-05-19  21447.050781
29 2025-05-20  21367.369141
30 2025-05-21  21080.359375
31 2025-05-22  21112.470703
32 2025-05-23  20915.660156
33 2025-05-27  21414.990234
34 2025-05-28  21318.169922
35 2025-05-29  21363.949219
36 2025-05-30  21340.990234
37 2025-06-02  21491.750000
38 2025-06-03  21662.580078
39 2025-06-04  21721.919922
40 2025-06-05  21547.429688
41 2025-06-06  21761.789062
42 2025-06-09  21797.869141
43 2025-06-10  21941.919922
44 2025-06-11  21860.800781
45 2025-06-12  21913.320312
46 2025-06-13  21631.039062
47 2025-06-16  21937.570312
48 2025-06-17  21719.080078
49 2025-06-18  21719.689453
50 2025-06-20  21626.390625
51 2025-06-23  21856.330078
52 2025-06-24  22190.519531
53 2025-06-25  22237.740234
54 2025-06-26  22447.289062
55 2025-06-27  22534.199219
56 2025-06-30  22679.009766
57 2025-07-01  22478.130859
58 2025-07-02  22641.890625
59 2025-07-03  22866.970703

3. 다우존스산업평균지수

In [35]:
dowjones = yf.download('^DJI', period='60d')

# 종가만 추출해서 데이터프레임 만들기
dowjones = pd.DataFrame(dowjones['Close'])
dowjones.reset_index(inplace=True)  # 날짜를 컬럼으로 변환

# 두 번째 열 이름을 '다우존스'로 변경
dowjones.columns = ['날짜', '종가']

dowjones

C:\Users\mcdor\AppData\Local\Temp\ipykernel_13116\2543435844.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dowjones = yf.download('^DJI', period='60d')
[*********************100%***********************]  1 of 1 completed

           날짜            종가
0  2025-04-08  37645.589844
1  2025-04-09  40608.449219
2  2025-04-10  39593.660156
3  2025-04-11  40212.710938
4  2025-04-14  40524.789062
5  2025-04-15  40368.960938
6  2025-04-16  39669.390625
7  2025-04-17  39142.230469
8  2025-04-21  38170.410156
9  2025-04-22  39186.980469
10 2025-04-23  39606.570312
11 2025-04-24  40093.398438
12 2025-04-25  40113.500000
13 2025-04-28  40227.589844
14 2025-04-29  40527.621094
15 2025-04-30  40669.359375
16 2025-05-01  40752.960938
17 2025-05-02  41317.429688
18 2025-05-05  41218.828125
19 2025-05-06  40829.000000
20 2025-05-07  41113.968750
21 2025-05-08  41368.449219
22 2025-05-09  41249.378906
23 2025-05-12  42410.101562
24 2025-05-13  42140.429688
25 2025-05-14  42051.058594
26 2025-05-15  42322.750000
27 2025-05-16  42654.738281
28 2025-05-19  42792.070312
29 2025-05-20  42677.238281
30 2025-05-21  41860.441406
31 2025-05-22  41859.089844
32 2025-05-23  41603.070312
33 2025-05-27  42343.648438
34 2025-05-28  42098.699219
35 2025-05-29  42215.730469
36 2025-05-30  42270.070312
37 2025-06-02  42305.480469
38 2025-06-03  42519.640625
39 2025-06-04  42427.738281
40 2025-06-05  42319.738281
41 2025-06-06  42762.871094
42 2025-06-09  42761.761719
43 2025-06-10  42866.871094
44 2025-06-11  42865.769531
45 2025-06-12  42967.621094
46 2025-06-13  42197.789062
47 2025-06-16  42515.089844
48 2025-06-17  42215.800781
49 2025-06-18  42171.660156
50 2025-06-20  42206.820312
51 2025-06-23  42581.781250
52 2025-06-24  43089.019531
53 2025-06-25  42982.429688
54 2025-06-26  43386.839844
55 2025-06-27  43819.269531
56 2025-06-30  44094.769531
57 2025-07-01  44494.941406
58 2025-07-02  44484.421875
59 2025-07-03  44828.531250

4. 코스피

In [36]:
kospi = yf.download('^KS11', period='60d')

# 종가만 추출해서 데이터프레임 만들기
kospi = pd.DataFrame(kospi['Close'])
kospi.reset_index(inplace=True)  # 날짜를 컬럼으로 변환

# 두 번째 열 이름을 '코스피'로 변경
kospi.columns = ['날짜', '종가']

kospi

C:\Users\mcdor\AppData\Local\Temp\ipykernel_13116\2459908781.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  kospi = yf.download('^KS11', period='60d')
[*********************100%***********************]  1 of 1 completed

           날짜           종가
0  2025-04-07  2328.199951
1  2025-04-08  2334.229980
2  2025-04-09  2293.699951
3  2025-04-10  2445.060059
4  2025-04-11  2432.719971
5  2025-04-14  2455.889893
6  2025-04-15  2477.409912
7  2025-04-16  2447.429932
8  2025-04-17  2470.409912
9  2025-04-18  2483.419922
10 2025-04-21  2488.419922
11 2025-04-22  2486.639893
12 2025-04-23  2525.560059
13 2025-04-24  2522.330078
14 2025-04-25  2546.300049
15 2025-04-28  2548.860107
16 2025-04-29  2565.419922
17 2025-04-30  2556.610107
18 2025-05-02  2559.790039
19 2025-05-07  2573.800049
20 2025-05-08  2579.479980
21 2025-05-09  2577.270020
22 2025-05-12  2607.330078
23 2025-05-13  2608.419922
24 2025-05-14  2640.570068
25 2025-05-15  2621.360107
26 2025-05-16  2626.870117
27 2025-05-19  2603.419922
28 2025-05-20  2601.800049
29 2025-05-21  2625.580078
30 2025-05-22  2593.669922
31 2025-05-23  2592.090088
32 2025-05-26  2644.399902
33 2025-05-27  2637.219971
34 2025-05-28  2670.149902
35 2025-05-29  2720.639893
36 2025-05-30  2697.669922
37 2025-06-02  2698.969971
38 2025-06-04  2770.840088
39 2025-06-05  2812.050049
40 2025-06-09  2855.770020
41 2025-06-10  2871.850098
42 2025-06-11  2907.040039
43 2025-06-12  2920.030029
44 2025-06-13  2894.620117
45 2025-06-16  2946.659912
46 2025-06-17  2950.300049
47 2025-06-18  2972.189941
48 2025-06-19  2977.739990
49 2025-06-20  3021.840088
50 2025-06-23  3014.469971
51 2025-06-24  3103.639893
52 2025-06-25  3108.250000
53 2025-06-26  3079.560059
54 2025-06-27  3055.939941
55 2025-06-30  3071.699951
56 2025-07-01  3089.649902
57 2025-07-02  3075.060059
58 2025-07-03  3116.270020
59 2025-07-04  3054.280029

5. 코스닥

In [38]:
kosdaq = yf.download('^KQ11', period='60d')

# 종가만 추출해서 데이터프레임 만들기
kosdaq = pd.DataFrame(kosdaq['Close'])
kosdaq.reset_index(inplace=True)  # 날짜를 컬럼으로 변환

# 두 번째 열 이름을 '코스닥'으로 변경
kosdaq.columns = ['날짜', '종가']

kosdaq

C:\Users\mcdor\AppData\Local\Temp\ipykernel_13116\3557750530.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  kosdaq = yf.download('^KQ11', period='60d')
[*********************100%***********************]  1 of 1 completed

           날짜          종가
0  2025-04-07  651.299988
1  2025-04-08  658.450012
2  2025-04-09  643.390015
3  2025-04-10  681.789978
4  2025-04-11  695.590027
5  2025-04-14  708.979980
6  2025-04-15  711.919983
7  2025-04-16  699.109985
8  2025-04-17  711.750000
9  2025-04-18  717.770020
10 2025-04-21  715.450012
11 2025-04-22  716.119995
12 2025-04-23  726.080017
13 2025-04-24  726.080017
14 2025-04-25  729.690002
15 2025-04-28  719.409973
16 2025-04-29  726.460022
17 2025-04-30  717.239990
18 2025-05-02  721.859985
19 2025-05-07  722.809998
20 2025-05-08  729.590027
21 2025-05-09  722.520020
22 2025-05-12  725.400024
23 2025-05-13  731.880005
24 2025-05-14  739.049988
25 2025-05-15  733.229980
26 2025-05-16  725.070007
27 2025-05-19  713.750000
28 2025-05-20  715.549988
29 2025-05-21  723.619995
30 2025-05-22  717.669983
31 2025-05-23  715.979980
32 2025-05-26  725.270020
33 2025-05-27  727.109985
34 2025-05-28  728.789978
35 2025-05-29  736.289978
36 2025-05-30  734.349976
37 2025-06-02  740.289978
38 2025-06-04  750.210022
39 2025-06-05  756.229980
40 2025-06-09  764.210022
41 2025-06-10  771.200012
42 2025-06-11  786.289978
43 2025-06-12  789.450012
44 2025-06-13  768.859985
45 2025-06-16  777.260010
46 2025-06-17  775.650024
47 2025-06-18  779.729980
48 2025-06-19  782.510010
49 2025-06-20  791.530029
50 2025-06-23  784.789978
51 2025-06-24  800.929993
52 2025-06-25  798.210022
53 2025-06-26  787.950012
54 2025-06-27  781.559998
55 2025-06-30  781.500000
56 2025-07-01  783.669983
57 2025-07-02  782.169983
58 2025-07-03  793.330017
59 2025-07-04  775.799988