환율

환율 2달 간의 환율 데이터입니다.

1. 환율

In [2]:
! pip install numpy<2 #아래 코드 오류가 나면 이 코드 돌려주세요.

������ ������ ã�� �� �����ϴ�.

In [4]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

# 환율 티커 (USD/KRW)
ticker = 'USDKRW=X'

# 90일치 데이터 받아온 뒤, 그중 최근 60일 내로 필터링
raw = yf.download(ticker, period='90d', interval='1d')

# 인덱스를 날짜 컬럼으로 변환
fx = raw.reset_index()[['Date', 'Close']]
fx.columns = ['날짜', '환율']

# 오늘 기준 60일 전 날짜 계산
cutoff_date = datetime.today() - timedelta(days=60)

# 60일 이내 데이터만 필터링
fx = fx[fx['날짜'] >= cutoff_date]

# 인덱스 초기화
fx = fx.reset_index(drop=True)

fx

C:\Users\mcdor\AppData\Local\Temp\ipykernel_6388\1942296999.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  raw = yf.download(ticker, period='90d', interval='1d')
[*********************100%***********************]  1 of 1 completed

           날짜           환율
0  2025-05-06  1374.369995
1  2025-05-07  1374.770020
2  2025-05-08  1397.290039
3  2025-05-09  1403.849976
4  2025-05-12  1395.170044
5  2025-05-13  1416.030029
6  2025-05-14  1416.000000
7  2025-05-15  1407.329956
8  2025-05-16  1397.020020
9  2025-05-19  1398.130005
10 2025-05-20  1388.550049
11 2025-05-21  1392.729980
12 2025-05-22  1373.859985
13 2025-05-23  1381.339966
14 2025-05-26  1364.729980
15 2025-05-27  1368.099976
16 2025-05-28  1374.800049
17 2025-05-29  1373.599976
18 2025-05-30  1370.410034
19 2025-06-02  1381.989990
20 2025-06-03  1376.069946
21 2025-06-04  1377.719971
22 2025-06-05  1361.089966
23 2025-06-06  1354.550049
24 2025-06-09  1359.189941
25 2025-06-10  1353.849976
26 2025-06-11  1363.880005
27 2025-06-12  1365.689941
28 2025-06-13  1349.790039
29 2025-06-16  1365.140015
30 2025-06-17  1357.780029
31 2025-06-18  1380.500000
32 2025-06-19  1370.750000
33 2025-06-20  1374.890015
34 2025-06-23  1369.469971
35 2025-06-24  1361.939941
36 2025-06-25  1353.780029
37 2025-06-26  1357.030029
38 2025-06-27  1352.760010
39 2025-06-30  1363.589966
40 2025-07-01  1348.500000
41 2025-07-02  1355.589966
42 2025-07-04  1363.859985

-> 여기서 주말같은 공휴일은 환율 데이터가 없어 60일을 그냥 코드에 넣으면 더 먼 과거인 4월 데이터도 나옵니다. 따라서 코드를 현재를 기준으로  60일까지만 나오게 짰어요